
<% @user ||= User.new %>
<% form_for @user, :url => account_path do |f| %>
  <fieldset>
    <%= f.error_messages %>
    <label for='name'><span>Name</span><span class="inf">Info</span></label>
    <div class="row"><%= f.text_field :name, :class => 'txt' %></div>
    <label for='email'><span>Email</span><span class="inf">Info</span></label>
    <div class="row"><%= f.text_field :email, :class => 'txt' %></div>
    <label for='password'><span>Password</span><span class="inf">Info</span></label>
    <div class="row"><%= f.password_field :password, :class => 'txt' %></div>
    <label for='password_confirmation'><span>Password Confirmation</span><span class="inf">Info</span></label>
    <div class="row"><%= f.password_field :password_confirmation, :class => 'txt' %></div>
    <label for='logo'><span>Upload logo</span><span class="inf">Info</span></label>
    <div class='row'><%= f.file_field :logo %></div>

    <div class="row">
      <div class="btns-holder">
        <div class="btns">
          <%= f.submit @user.new_record? ? 'Save' : 'Update', :class => 'btn-save' %>
          <%= submit_tag 'Cancel', :class => 'btn-cancel', :type => 'reset' %>


        </div>
      </div>
    </div>
  </fieldset>
<% end %>
