
<% @user ||= User.new %>
<% if flash[:error] %>
<div id="errorExplanation">
  <%= raw flash[:error] %>
</div>
<% end %>
<%= form_for(@user, { :url => registration_path(@user), :html => {:multipart => true} }) do |f| %>
  <fieldset>
    <%= f.hidden_field :business, :value => true %>
    <%= f.label :name, '<span>Name</span><span class="inf" title="Name of the business entity (not seen by users)">Info</span>'.html_safe %>
    <div class="row"><%= f.text_field :name, :class => 'txt' %></div>
    <%= f.label :email, '<span>Email</span><span class="inf" title="Email used for login and communication from us">Info</span>'.html_safe %>
    <div class="row"><%= f.text_field :email, :class => 'txt' %></div>
    <div class="row" id="show_password_fields"><a href="#" onClick="$('#password_fields').show();$('#show_password_fields').hide();return false;">Change password</a></div>
    <div id="password_fields" style="display:none;">
    <%= f.label :password, '<span>Password</span><span class="inf" title="Only enter if you want to change your password">Info</span>'.html_safe %>
    <div class="row"><%= f.password_field :password, :class => 'txt' %></div>
    <%= f.label :password_confirmation, '<span>Re-enter Password</span><span class="inf" title="This must match the previous field">Info</span>'.html_safe %>
    <div class="row"><%= f.password_field :password_confirmation, :class => 'txt' %></div>
    </div>
    <div class='row'><%= image_tag @user.logo.url(:thumb) if @user.logo.exists? %></div>
    <label for='logo'><span>Upload <%= "new" if @user.logo.exists? %> logo</span><span class="inf" title="Logo that will be shown to users">Info</span></label>
    <div class='row'><%= f.file_field :logo %></div>

    <div class="row">
      <div class="btns-holder">
        <div class="btns">
          <%= f.submit @user.new_record? ? 'Save' : 'Update', :class => 'btn-save' %>
          <%= submit_tag 'Cancel', :class => 'btn-cancel', :type => 'reset' %>
        </div>
      </div>
    </div>
  </fieldset>
<% end %>
