<% form_for(@business) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :street_address_1 %><br />
    <%= f.text_field :street_address_1 %>
  </p>
  <p>
    <%= f.label :street_address_2 %><br />
    <%= f.text_field :street_address_2 %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code %>
  </p>
  <p>
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </p>
  <p>
    <%= f.label :phone_1 %> (*yelp)<br />
    <%= f.text_field :phone_1 %>
  </p>
  <p>
    <%= f.label :phone_2 %><br />
    <%= f.text_field :phone_2 %>
  </p>
  <p>
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
    </p>
<%
  # social media
%>
  <p>
    <%= f.label :link_twitter %><br />
    http://twitter.com/<%= f.text_field :link_twitter %>
  </p>

  <p>
    <%= f.label :link_facebook %><br />
    http://facebook.com/<%= f.text_field :link_facebook %>
  </p>

  <p>
    <%= f.label :parent_id %><br />
    <%= f.text_field :parent_id %>
  </p>
  <p>
    <%= f.submit (@business.new_record? ? 'Create' : 'Update') %>
  </p>
<% end %>

