<div class="bottom">
<!-- profile-form -->
  <div class="profile-form">
    <%= form_for(@business) do |f| %>
      <%= f.error_messages %>
      <fieldset>
        <%= form_row f, :name, 'Location name*', {}, '(Required) Name that users will see' %>
        <%= form_row f, :short_name, 'Nickname', {}, '(Optional) Short name only used by your account' %>
        <%= form_row f, :address, 'Address 1*', {}, '(Required) Street address' %>
        <%= form_row f, :address_2, 'Address 2', {}, '(Optional) Unit or Suite number, etc' %>
        <%= form_row f, :city, 'City*', {}, '(Required) City' %>
        <div class="row">
          <%= f.label :state, '<span>State*</span><span class="inf" title="(Required) State">Info</span>'.html_safe %>
          <div class="right width1">
            <%= f.select :state, States::STATES, :class => 'sel', :selected => 'CA' %>
            <div class="select-area width2">
              <%= f.label :zipcode, '<span>Zip*</span><span class="inf" title="(Required) Zip Code">Info</span>'.html_safe %>
              <%= f.text_field :zipcode, :class => 'txt' %>
            </div>
          </div>
        </div>
        <%= form_row f, :phone, 'Phone*', { :tdc => ' width3' }, '(Required) Phone number so that users can call you' %>
        <%= form_row f, :hours, 'Hours', {}, '(Optional) Separate hours with a comma, ex: M-F 9-5,Sat-Sun 10-4' %>
        <%= form_row f, :yelp_url, 'Yelp', { :tdc => ' width6', :bf => '<p>http://yelp.com/biz/</p>' }, '(Optional) Yelp business ID for this location' %>
        <%= form_row f, :twitter_url, 'Twitter', { :tdc => ' width4', :bf => '<p>http://twitter.com/</p>' }, '(Optional) Twitter username for this location' %>
        <%= form_row f, :facebook_url, 'Facebook', { :tdc => ' width5', :bf => '<p>http://facebook.com/</p>' }, '(Optional) Facebook page name for this location' %>
        <div class="btns-holder">
          <div class="btns">
            <input class="btn-clear" type="reset" value="Clear" />
            <%= f.submit 'Save', :class => 'btn-save' %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
</div>
