<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Smartvark</title>
        <%= render :partial => 'welcome/common_header' %>
</head>
<body>
	<!-- wrapper -->
	<div id="wrapper">
		<!-- wrapper-holder -->
		<div class="wrapper-holder">
			<!-- header -->
			<div id="header">
				<!-- logo -->
				<h1 class="logo"><a href="#">Smartvark</a></h1>
				<div class="account-area">
					<!-- holder -->
					<div class="holder">
                                          <strong class="ttl">Welcome <span><%= @user.name %>!</span></strong>
					</div>
					<div class="frame">
					<ul class="menu">
                                          <li><%= link_to 'deal dashboard', dealdashboard_url %>
					</ul>
					</div>
				</div><!-- /account-area end -->
			</div>
			<!-- main -->
			<div id="main">
				<!-- main-holder -->
				<div class="main-holder">
					<!-- main-frame -->
					<div class="main-frame">
						<div class="profile-box">
							<p class="subttl"><span>Hold your mouse pointer over any of the</span> <span class="inf">icons </span>to see a detailed explanation of the corresponding area</p>
							<!-- two-columns -->
							<div class="two-columns">
								<div class="t"></div>
								<div class="c">
									<!-- holder -->
									<div class="holder">
										<!-- l-side -->
										<div class="l-side">
											<!-- ttl-holder -->
                                                                                        <div class="ttl-holder">
                                                                                          <%= render :partial => 'location_profile' %>
                                                                                              <%= render :partial => 'form' %>
                                                                                </div>
										<!-- r-side -->
										<div class="r-side">
											<!-- ttl-holder -->
											<div class="ttl-holder">
												<h2>Business Profile</h2>
												<a href="#" class="inf">Info</a>
											</div>
											<div class="bottom">
                                                                                          <div class="bussiness-form">
                                                                                            <%= render :partial => 'business_user_form' %>
                                                                                          </div><!-- /bussiness-form end -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div><!-- /profile-box end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- footer -->
	<div id="footer">
		<ul>
			<li><a href="#">what’s a smartvark anyway?</a></li>
			<li><a href="#">what about my privacy?</a></li>
			<li><a href="#">contact</a></li>
			<li><a href="#">twitter</a></li>
			<li><a href="#">facebook</a></li>
			<li><a href="#">smartvark for business</a></li>
		</ul>
		<p>&copy; 2010  Smartvark, Inc.</p>
	</div>
</body>
</html>
