<p>
  <b>Name:</b>
  <%= @business.name %>
</p>

<p>
<b>Hours:</b>
<br/>
  <%= (@business.hours || 'n/a').gsub(/;/,'<br/>')%>
</p>

<p>
  <b>Street address 1:</b>
  <%= @business.address %>
</p>

<p>
  <b>Street address 2:</b>
  <%= @business.address_2 %>
</p>

<p>
  <b>City:</b>
  <%= @business.city %>
</p>

<p>
  <b>State:</b>
  <%= @business.state %>
</p>

<p>
  <b>Postal code:</b>
  <%= @business.zipcode %>
</p>

<p>
  <b>Country:</b>
  <%= @business.country %>
</p>

<p>
  <b>Phone 1:</b>
  <%= @business.phone_1 %>
</p>

<p>
  <b>Phone 2:</b>
  <%= @business.phone_2 %>
</p>

<p>
  <b>Fax:</b>
  <%= @business.fax %>
</p>

<p>
  <b>Url:</b>
  <%= @business.url %>
</p>

<p>
  <b>Lat/Lng:</b>
  <%= @business.lat %> / <%= @business.lng%>
  </p>

<p>
  <b>Facebook:</b>
  <%= @business.link_facebook %>
</p>

<p>
  <b>Twitter:</b>
  <%= @business.link_twitter %>
</p>

<p>
  <b>Yelp:</b>
  <%= @business.yelp_url %>
</p>

<p>
  <b>Yelp Avg Rating Img Url:</b>
  <%= @business.yelp_avg_rating_url %>
  <%= image_tag @business.yelp_avg_rating_url || ''%>
</p>

<p>
  <b>Parent:</b>
  <%= @business.parent_id %>
</p>


<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
