<h1>Editing redemption</h1>

<% form_for(@redemption) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :qty %><br />
    <%= f.text_field :qty %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :offer_id %><br />
    <%= f.text_field :offer_id %>
  </p>
  <p>
    <%= f.label :transaction_number %><br />
    <%= f.text_field :transaction_number %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @redemption %> |
<%= link_to 'Back', redemptions_path %>