<p>
  <b>Qty:</b>
  <%= @redemption.qty %>
</p>

<p>
  <b>User:</b>
  <%= @redemption.user_id %>
</p>

<p>
  <b>Offer:</b>
  <%= @redemption.offer_id %>
</p>

<p>
  <b>Transaction number:</b>
  <%= @redemption.transaction_number %>
</p>


<%= link_to 'Edit', edit_redemption_path(@redemption) %> |
<%= link_to 'Back', redemptions_path %>