<!-- // Begin Module: Top Image with Content \ -->
<%= link_to link_url(offer), target: "_blank", style: "text-decoration: none;" do %>
<table border="0" cellpadding="20" cellspacing="0" width="100%">
  <tr>
    <td valign="top" style="border-collapse: collapse;text-align: center;">
      <%= image_tag offer.image_url_small %>
      <div style="color: #505050;font-family: Arial;font-size: 14px;line-height: 150%;text-align: left;">
       <h4 class="h4" style="display: block;font-family: Arial;font-size: 18px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: center;"><%= offer.title %></h4>
       <div class="get-button" style="color: #505050;font-family: Arial;font-size: 14px;line-height: 150%;text-align: center;">
          <%= image_tag "http://smartvark.s3.amazonaws.com/assets/get_it_now.jpg" %>
       </div>
       <p><%= offer.description %></p>
       <p>
         Available in:<br/>
         <%= offer.businesses.first.city_state_zip %>
         <% if offer.businesses.count > 1 %>
          <br/> ... and <%= offer.businesses.count - 1 %> more locations
         <% end %>
       </p>
      </div>
      <% map_url = "http://maps.googleapis.com/maps/api/staticmap?size=250x250&sensor=false&format=jpg&markers=" %>
      <% offer.businesses.each do |business| %>
        <% map_url << "|" + business.address_as_string %>
      <% end %>
      <% map_url << "&zoom=10" if offer.businesses.count == 1 %>
      <%= image_tag map_url %>
    </td>
  </tr>
</table>
<% end %>
<!-- // End Module: Top Image with Content \ -->