<a href="<%= offer.redemption_link %>" target="_blank">
  <!-- // Begin Module: Top Image with Content \\ -->
  <table border="0" cellpadding="20" cellspacing="0" width="100%">
    <tr>
      <td valign="top">
        <%= link_to link_url(offer), target: "blank" do %>
          <%= image_tag offer.image_url_small %>
          <div>
           <h4 class="h4"><%= offer.title %></h4>
           <div class="get-button"><%= image_tag "http://smartvark.s3.amazonaws.com/assets/get_it_now.jpg" %></div>
           <p><%= offer.description %></p>
           <p>
             Available in:<br/>
             <%= offer.businesses.first.city_state_zip %>
             <% if offer.businesses.count > 1 %>
              <br/> ... and <%= offer.businesses.count - 1 %> more locations
             <% end %>
           </p>
          </div>
          <% map_url = "http://maps.googleapis.com/maps/api/staticmap?size=250x250&sensor=false&format=jpg&markers=" %>
          <% offer.businesses.each do |business| %>
            <% map_url << "|" + business.address_as_string %>
          <% end %>
          <% map_url << "&zoom=10" if offer.businesses.count == 1 %>
          <%= image_tag map_url %>
        <% end %>
      </td>
    </tr>
  </table>
  <!-- // End Module: Top Image with Content \\ -->
</a>