<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <!-- Facebook sharing information tags -->
    <meta property="og:title" content="<%= message.subject %>">
    
    <title><%= message.subject %></title>
    
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #e0eef8;width: 100%;">
    <center>
      <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="backgroundTable" style="margin: 0;padding: 0;background-color: #e0eef8;height: 100%;width: 100%;">
        <tr>
          <td align="center" valign="top" style="border-collapse: collapse;">
          <% if false %>
            <!-- // Begin Template Preheader \ -->
            <table border="0" cellpadding="10" cellspacing="0" width="600" id="templatePreheader" style="background-color: #e0eef8;">
              <tr>
                <td valign="top" class="preheaderContent" style="border-collapse: collapse;">
                
                  <!-- // Begin Module: Standard Preheader  -->
                  <table border="0" cellpadding="10" cellspacing="0" width="100%">
                    <tr>
                      <td valign="top" style="border-collapse: collapse;">
                        <div style="color: #404040;font-family: Arial;font-size: 10px;line-height: 100%;text-align: center;">
                          Artie the Aardvark found two deals he thinks you'll love
                        </div>
                      </td>
                    </tr>
                  </table>
                  <!-- // End Module: Standard Preheader  -->
                
                </td>
              </tr>
            </table>
            <!-- // End Template Preheader \ -->
            <% end %>
            <table border="0" cellpadding="8" cellspacing="0" width="600" id="templateContainer" style="border: 1px solid #DDDDDD;background-color: #FFFFFF;">
              <tr>
                <td align="center" valign="top" style="border-collapse: collapse;text-align: center;">
                  <!-- // Begin Template Header \ -->
                  <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader" style="background-color: #FFFFFF;border-bottom: 0;">
                    <tr>
                      <td class="headerContent" style="border-collapse: collapse;color: #202020;font-family: Arial;font-size: 34px;font-weight: bold;line-height: 100%;padding: 0;text-align: center;vertical-align: middle;">
                        <!-- // Begin Module: Standard Header Image \ -->
                        <%= link_to '<img src="http://smartvark.s3.amazonaws.com/assets/email_logo.jpg"/>'.html_safe, root_url, target: "_blank" %>
                        <!-- // End Module: Standard Header Image \ -->
                        <h3 style="color: #202020;display: block;font-family: Arial;font-size: 26px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: center;">Your personalized daily deal picks:</h3>
                      </td>
                    </tr>
                  </table>
                  <!-- // End Template Header \ -->
                </td>
              </tr>
              <tr>
                <td align="center" valign="top" style="border-collapse: collapse;text-align: center;">
                  <!-- // Begin Template Body \ -->
                  <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                    <tr>
                      <td valign="top" width="280" class="leftColumnContent" style="border-collapse: collapse;border:3px solid #FF5C16;background-color: #FFFFFF;text-align: center;">
                        <%= render :partial => 'offer', :locals => { :offer => @offer_food, :color => "orange" } %>
                      </td>
                      <td valign="center" width="40" style="font:32px Arial, Helvetica, Sans-Serif;">&nbsp;VS&nbsp;</td>
                      <td valign="top" width="280" class="rightColumnContent" style="border-collapse: collapse;border:3px solid #0079C2;background-color: #FFFFFF;text-align: center;">
                        <%= render :partial => 'offer', :locals => { :offer => @offer_other, :color => "blue" } %>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" valign="top" class="bodyContent" style="border-collapse: collapse;background-color: #FFFFFF;text-align: center;">
                      
                        <!-- // Begin Module: Standard Content \ -->
                        <table border="0" cellpadding="20" cellspacing="0" width="100%">
                          <tr>
                            <td valign="top" style="border-collapse: collapse;text-align: center;">
                              <div style="color: #404040;font-family: Arial;font-size: 14px;line-height: 150%;text-align: left;">
                                <%= link_to deals_url, target: "_blank", style: "text-decoration: none;" do %>
                                  <h3 style='text-align:center;'>Can't pick a winner today?<br/>Click to see more deals at Smartvark.com</h3>
                                <% end %>
                                <p><strong>What is this?</strong><br/>Artie the Aardvark tracks down deals that match your tastes. Help him figure out what you like by picking a winner in your daily deal battle. Here's what else you can do to improve the quality of your picks:</p>
                                <ol>
                                  <li>Use the Smartvark bar at the top of the page when you choose your winner</li>
                                  <img src="http://smartvark.s3.amazonaws.com/assets/topbar_explanation.jpg" alt="top bar explanation"/>
                                  <li>We're sending you deals near zip <%= @user.zipcode %>. If this is inaccurate, <%= link_to "update your profile", myprofile_url, target: "_blank", style: "text-decoration: none;" %></li>
                                  <li>Update your tastes in <%= link_to "your profile", myprofile_url, target: "_blank", style: "text-decoration: none;" %></li>
                                </ol>
                                <p>If you have any feedback, please feel free to respond to this email. You'll get a response from a real person!</p>
                              </div>
                            </td>
                          </tr>
                        </table>
                        <!-- // End Module: Standard Content \ -->
                      
                      </td>
                    </tr>
                  </table>
                  <!-- // End Template Body \ -->
                </td>
              </tr>
              <% if @exclusive %>
              <tr>
                <td align="center" valign="top" style="border-collapse: collapse;text-align: center;">
                  <!-- // Begin Template Footer \ -->
                  <%= link_to link_url(@exclusive), target: "_blank", style: "text-decoration: none;" do %>
                  <table border="0" cellpadding="10" cellspacing="0" width="100%" id="templateFooter" style="background-color: #FFD699;border-top: 0;">
                    <tr>
                      <td valign="top" class="footerContent" style="border-collapse: collapse;text-align: center;">
                      
                        <!-- // Begin Module: Standard Footer \ -->
                        <table border="0" cellpadding="10" cellspacing="0" width="100%">
                          <tr>
                            <td colspan="2" valign="middle" id="social" style="border-collapse: collapse;background-color:#FFD699;border: 0;text-align: center;">
                              <div style="color: #505050;font-family: Arial;font-size: 12px;line-height: 125%;text-align: center;">
                                <div style="float:left;"><%= image_tag(@exclusive.logo.url(:thumb), alt: @exclusive.title + " image") if @exclusive.logo %></div>
                                <h2>Smartvark Exclusive: <%= @exclusive.title %></h2>
                                <p><%= @exclusive.description %><p>
                                <%= link_to "<strong>Click here to find out more</strong>".html_safe, link_url(@exclusive), target: "_blank", style: "text-decoration: none;" %>
                              </div>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                  <% end %>
                </td>
              </tr>
              <% end %>
              <tr>
                <td align="center" valign="top" style="border-collapse: collapse;text-align: center;">
                  <!-- // Begin Template Footer \ -->
                  <table border="0" cellpadding="10" cellspacing="0" width="100%" id="templateFooter" style="background-color: #e0eef8;border-top: 0;">
                    <tr>
                      <td valign="top" class="footerContent" style="border-collapse: collapse;text-align: center;">
                      
                        <!-- // Begin Module: Standard Footer \ -->
                        <table border="0" cellpadding="10" cellspacing="0" width="100%">
                          <tr>
                            <td colspan="2" valign="middle" id="social" style="border-collapse: collapse;background-color: #e0eef8;border: 0;text-align: center;">
                              <div style="color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: center;">
                                &nbsp;<a href="http://twitter.com/smartvark" target="_blank" style="text-decoration: underline;color: #336699;font-weight: normal;">Follow Artie on Twitter</a> | <a href="http://facebook.com/smartvark" target="_blank" style="text-decoration: underline;color: #336699;font-weight: normal;">Friend Artie on Facebook</a>&nbsp;
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td valign="top" width="350" style="border-collapse: collapse;text-align: center;">
                              <div style="color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: left;">
                                <em>Copyright &copy; <%= Time.now.year %> Smartvark, Inc., All rights reserved.</em>
                                <br>
                                <%= link_to "Smartvark.com: Local Deals. Personalized.", root_url, target: "_blank" %>
                                <br>
                                <strong>Our mailing address is:</strong>
                                <br>
                                3159 Donald Douglas Loop South, Suite 200, Santa Monica, CA 90405 
                              </div>
                            </td>
                          </tr>
                          <% if false # hide this until unsubscribe is built-in %>
                          <tr>
                            <td colspan="2" valign="middle" id="utility" style="border-collapse: collapse;background-color: #e0eef8;border: 0;text-align: center;">
                              <div style="color: #707070;font-family: Arial;font-size: 12px;line-height: 125%;text-align: center;">
                                &nbsp;<a href="#" style="text-decoration: underline;color: #336699;font-weight: normal;">unsubscribe from this list</a> | <a href="*|UPDATE_PROFILE|*" style="text-decoration: underline;color: #336699;font-weight: normal;">update subscription preferences</a>&nbsp;
                              </div>
                            </td>
                          </tr>
                          <% end %>
                        </table>
                        <!-- // End Module: Standard Footer \ -->
                      
                      </td>
                    </tr>
                  </table>
                  <!-- // End Template Footer \ -->
                </td>
              </tr>
            </table>
            <br>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>