<table class="location">
<tr>
  <th class="loc">Location</th>
  <th class="offer">Offer</th>
  <th class="expiration">Expiration</th>
  <th class="used">Used</th>
  <th><img src="/images/ico-for.gif" alt="" width="15" height="16" /></th>
  <th><img src="/images/ico-against.gif" alt="" width="15" height="16" /></th>
  <th class="actions">Actions</th>
</tr>
<% @offers.each do |deal_on_dashboard| %>
  <tr class="<%= deal_on_dashboard.status %> dashboard_row">
    <td><%= deal_on_dashboard.businesses.first.short_or_name%></td>
    <td><%= deal_on_dashboard.lead %></td>
    <td><%= deal_on_dashboard.expiry_datetime.try(:strftime, '%m/%d/%Y') %></td>
    <td><%= deal_on_dashboard.redemptions.length %></td>
    <td><%= deal_on_dashboard.likes.length %></td>
    <td><%= deal_on_dashboard.dislikes.length %></td>
    <td>
      <%= link_to image_tag("ico-view.png", :width =>'16', :height => '16'), viewdeal_path(deal_on_dashboard.to_param), :class => 'left' %>
      <%= link_to image_tag("ico-edit.png", :width =>'16', :height => '16'), edit_offer_path(deal_on_dashboard.id.to_param), :class => 'left' %>
      <%= link_to image_tag("ico-delete.png", :width =>'16', :height => '16'), deal_on_dashboard, :confirm => 'Are you sure you want to archive this deal?', :method => :delete, :class => 'left' %>
    </td>
  </tr>
<% end %>
</table>
