<div class="map-location" data-jmapping="{id: <%=map_business.id%>, point: {lng: <%=map_business.longitude%>, lat: <%=map_business.latitude%>}, category: 'Gas'}">
  <a href="#" class="map-link"><%= map_business.name %></a>
  <div class="info-box">
    <p><%= map_business.name %></p>
  </div>
</div>