<div class="profile-form">
  <% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  <fieldset>
    <div class="row">
      <%= f.label :name %>
      <div class="right">
        <%= f.text_field :name, :class => 'txt' %>
      </div>
    </div>
    <div class="row">
      <%= f.label :address %>
      <div class="right">
        <%= f.text_field :address, :class => 'txt' %>
      </div>
    </div>
    <div class="row short">
      <%= f.label :city %>
      <div class="right">
        <%= f.text_field :city, :class => 'txt' %>
        <%= select :user, :state, States::STATES, { :include_blank => true }, :class => 'sel' %>
      </div>
    </div>
    <div class="row">
      <%= f.label :zipcode %>
      <div class="right">
        <%= f.text_field :zipcode, :class => 'txt', :maxlength => 11 %>
      </div>
    </div>
    <div class="row short">
      <%= f.label :phone%>
      <div class="right">
        <%= f.text_field :phone, :class => 'txt', :maxlength => 15 %>
        <%= select :user, :carrier, Carriers::CARRIERS, { :include_blank => true }, :class => 'sel' %>
      </div>
    </div>
    <div class="row">
      <%= f.label :email %>
      <div class="right">
        <%= f.text_field :email, :class => 'txt' %>
      </div>
    </div>
    <div class="row">
      <%= f.label :password %>
      <div class="right">
        <%= f.text_field :password, :class => 'txt' %>
      </div>
    </div>
    <div class="row">
      <%= f.label :password_confirmation, "Confirm Password" %>
      <div class="right">
        <%= f.text_field :password_confirmation, :class => 'txt' %>
      </div>
    </div>
    <div class="row">
      <div class="btns">
        <%= f.submit "Save", :class => "btn-save" %>
        <%= link_to "Cancel", mydeals_path %>
      </div>
    </div>
</fieldset>
<% end %>
</div>
