<div class="profile-form">
  <fieldset>
    <div class="row">
      <%= f.label :name %>
      <div class="right">
        <%= f.text_field :name, :class => 'txt' %>
      </div>
    </div>
    <div class="row">
      <%= f.label :address %>
      <div class="right">
        <%= f.text_field :address, :class => 'txt' %>
      </div>
    </div>
    <div class="row short">
      <%= f.label :city %>
      <div class="right">
        <%= f.text_field :city, :class => 'txt' %>
        <%= select :user, :state, States::STATES, { :include_blank => true }, :class => 'sel', :selected => 'CA' %>
      </div>
    </div>
    <div class="row short">
      <%= f.label :zipcode, 'Zip' %>
      <div class="right">
        <%= f.text_field :zipcode, :class => 'txt', :maxlength => 10 %>
      </div>
    </div>
    <div class="row short">
      <%= f.label :phone, "Mobile Phone" %>
      <div class="right">
        <%= f.text_field :phone, :class => 'txt', :maxlength => 15 %>
      </div>
    </div>
    <div class="row">
      <%= f.label :email %>
      <div class="right">
        <%= f.text_field :email, :class => 'txt' %>
      </div>
    </div>
    <div class="row" id="show_password_fields">
		<a href="#" onClick="$('#password_fields').show();$('#show_password_fields').hide();return false;">Change password</a>
	</div>
    <div id="password_fields" style="display:none;">
	    <div class="row">
	      <%= f.label :password %>
	      <div class="right">
	        <%= f.password_field :password, :class => 'txt' %>
	      </div>
	    </div>
	    <div class="row">
	      <%= f.label :password_confirmation, "Re-enter Password" %>
	      <div class="right">
	        <%= f.password_field :password_confirmation, :class => 'txt' %>
	      </div>
	    </div>
    </div>
    <div class="row">
      <div class="btns">
        <%= f.submit "Save", :class => "btn-save" %>
        <%= link_to "Cancel", "#", :onClick => "javascript:history.back();return false;" %>
      </div>
    </div>
</fieldset>
</div>
