<li>
  <a href="<%= viewdeal_path(offer) %>">
    <img src="/images/<%= offer.category.parent_or_friendly_id %>.png" class="ui-li-icon"/>
    <h3><%= offer.title %></h3>
    <p><strong><%= offer.user.name %></strong></p>
    <p><%= offer.description %></p>
  </a>
</li>
