<div class="address">
<% offer_address.businesses.each do |business| %>
  <span><%= business.name %></span>
  <span><%= business.address %></span>
  <% unless business.address_2.blank? %>
    <span><%= business.address_2 %></span>
  <% end %>
  <span><%= business.city %>, <%= business.state %> <%= business.zipcode%></span>
  <p><%= link_to 'Map It', "http://maps.google.com?q=#{business.address_as_string}", :target => '_new' %> <%= link_to 'More info', viewbusiness_url(business) %></p>
<% end %>
</div>