<div class="r-side">
  <!-- ttl-holder -->
  <div class="ttl-holder">
    <h2>Shout About It</h2>
  </div>
  <!-- frame -->
  <div class="frame">
    <% @offer.comments.each_with_index do |comment,index| %>
    <div class="row">
        <strong class="bubble<%= " blue-bubble" if ((index+1)%2).zero? %>"><strong><strong><%= comment.text %></strong></strong></strong>
        <p><%= raw "<span>#{comment.commenter.first}</span>#{comment.commenter.last}" %></p>
    </div>
    <% end %>
    <% if !logged_in? %>
      <i>You must be logged in to shout</i>
    <% elsif !@offer.commenters.include?(current_user) %>
      <div class="row">
        <%= form_tag shout_path(@offer.id) do %>
          <%= text_area_tag 'comment[text]', '',:style => "width:100%", :id => 'shoutbox', :size => '40x3' %>
          <%= submit_tag 'Shout!', :id => :shout %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

