<address>
  <span><%= @offer.business.name %></span>
  <span><%= @offer.business.street_address_1 %></span>
  <% if @offer.business.street_address_2 %>
    <span><%= @offer.business.street_address_2 %></span>
  <% end %>
  <span><%= @offer.business.city %>, <%= @offer.business.state %></span>
  <span><%= @offer.business.postal_code%></span>
</address>

