<% title "Deals near you" %>
<div data-role="header" data-theme="b" data-backbtn="false">
  <% if false %>
    <%= link_to "My Picks", mypicks_path, "data-icon" => "star" %>
  <% end %>
  <img src="/images/logo-mobile.png"/>
  <%= link_to 'Sign up', new_user_registration_path, "data-icon" => "check", "data-transition" => "pop", :class => "ui-btn-right" %>
</div><!-- /header -->

<div data-role="content">
  <% if false %>
  <div data-role="collapsible" data-collapsed="true" id="list-header">
    <h3>Deals near <%= geo_location.to_location %></h3>
    <label for="location" class="select">I'm actually looking for deals near...</label>
    <%= form_tag do %>
      <%= text_field_tag 'location', nil, :placeholder => "city, state or zip" %>
      <button type="submit" data-theme="d">Update</button>
    <% end %>
  </div>
  <% end %>
  <ul data-role="listview" data-theme="d">
    <%= render :partial => 'offer', :collection => @offers %>
  </ul>
</div><!-- /content -->