<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>smartvark - try it</title>
        <%= render :partial => 'common_header' %>
</head>
<body>
	<!-- wrapper -->
	<div id="wrapper">
		<!-- wrapper-holder -->
		<div class="wrapper-holder">
			<!-- header -->
			<div id="header">
				<!-- logo -->
				<h1 class="logo"><a href="/">Smartvark</a></h1>
				<!-- login-box popup-holder -->
                                <%= render :partial => 'login' %>
			</div>
			<!-- main -->
			<div id="main">
				<!-- main-holder -->
				<div class="main-holder">
					<!-- main-frame -->
					<div class="main-frame">
                    	<!-- welcome-box -->
						<div class="tryit-box">
							<!-- text -->
							<div class="text">
                                                          <p>It looks like you're in <strong><%= location %></strong>. If we're wrong, let us know.</p>
							</div>
							<!-- promo-box -->
                                                        <div class="promo-box">
                                                          <% form_tag do %>
                                                            <%= text_field_tag 'location', nil, :class => 'text-input', :placeholder => 'city, state or zip' %>
                                                            <%= image_submit_tag "/images/btn-update.gif", :class => 'button', :alt => 'Update' %>
                                                          <% end %>
                            <!--
								<strong class="ttl-give-a-try">Give it a try</strong>
								<a href="#" class="btn-show-deals">Show me the deals!</a>
                            -->
							</div>
						</div>
						<!-- two-columns -->
						<div class="two-columns">
							<div class="t"></div>
							<div class="c">
								<!-- holder -->
								<div class="holder">
									<!-- l-side -->
									<div class="l-side">
										<!-- ttl-holder -->
										<div class="ttl-holder">
											<h2>Artie's Picks</h2>
										</div>
										<strong class="ttl">Just rate the deals below and Artie will sniff out more that you'll probably like.  The more you rate, the better we get to know your tastes!</strong>
										<!-- info-section -->
										<div class="info-section section-inner">
                                                                                        <div id='offer_info_rollover' class="info">

											</div>
											<!-- gallery -->
											<div class="gallery">
                                                                                          <ul>
                                                                                            <% @offers.length.times do |n| %>
                                                                                              <%= display_offer(@offers, n) %>
                                                                                            <% end %>
                                                                                          </ul>
											</div>
										</div>
									</div>
									<!-- r-side -->
									<div class="r-side">
										<!-- ttl-holder -->
										<div class="ttl-holder">
											<h2>My Picks</h2>
										</div>
										<!--<span class="mark">You added XYZ deal to My Picks. <a href="#">Undo</a> or <a href="#">Use It Now</a>.</span>-->
										<!-- list -->
                                                                                <ul id='my_list' class="list">
                                                                                  <% @likes.each do |offer| %>
                                                                                    <%= list_offer(offer) %>
                                                                                  <% end %>
										</ul>
									</div>
								</div>
							</div>
							<div class="b"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= render :partial => 'common_footer' %>
</body>
</html>
