<% title "LA deals" %>
<!-- welcome-box -->
<div class="welcome-box">
  <%= form_for :potential do |f| %>
  <div class="text">
    <% if session[:potential] %>
      <p>Thanks for signing up! You'll be hearing from us soon.</p>
      <p><a href="#" onClick="$('.txt').val('');$('#potential-form').show();$(this).hide();return false;">Click here to add another email to the list</a></p>
      <% hidden = true %>
    <% end %>
    <div id="potential-form" style="display:<%= 'none' if hidden %>;">
      <%= f.error_messages %>
      <%= f.label :email %>
      <%= f.text_field :email, :class => :txt %>
      <%= f.label :location %>
      <%= f.text_field :location, :class => :txt %>
    </div>
  </div>
  <!-- promo-box -->
  <div class="promo-box">
    <strong class="ttl-find-out-first">Find out first</strong>
    <%= f.submit "Notify Me!", class: "btn-notify-me" %>
  </div>
  <% end %>
</div>
<!-- wide-box -->
<div class="wide-box">
  <!-- holder -->
  <div class="holder">
    <div class="frame">
      <h2>What's a Smartvark, anyway?</h2>
      <!-- promo-section -->
      <div class="promo-section">
        <%= render :partial => "index_copy" %>
      </div>
    </div>
  </div>
</div>
