<%= content_for(:head_additions) do %>
	<% if Rails.env.production? %>
		<script type="text/javascript">
			var _kmq = _kmq || [];
			function _kms(u){
				setTimeout(function(){
					var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
					s.src = u; f.parentNode.insertBefore(s, f);
				}, 1);
			}
			_kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/e3f924bcb188e79eee2462c203e2bb3fc21feaa8.1.js');
		</script>
	<% end %>
	<script type="text/javascript">
	$(document).bind("mobileinit", function(){
		$.mobile.ajaxFormsEnabled = false;
	});
	</script>
<% end %>

<div data-role="header" data-theme="b">
  <div align="center"><img src="/images/logo-mobile.png"/></div>
</div><!-- /header -->

<div data-role="content">
  <h3>Smartvark is a new twist on local deals</h3>
  <%= render :partial => "index_copy" %>
  <p><a href="http://www.youtube.com/watch?v=efI6IMjUcII" target="_blank" data-ajax="false">Watch a video to get the whole scoop in less than 90 seconds</a></p>
  <%= form_for :user do |f| %>
    <%= f.label :facebook, "Save the hassle of remembering another account:" %>
    <%= link_to "Connect with Facebook", user_omniauth_authorize_path(:facebook), "data-role" => "button", "data-icon" => "facebook", "data-theme" => "b", "data-ajax" => "false" %>
    <br/><br/>
    <%= f.label :email, "Or create a Smartvark account:" %>
    <%= f.email_field :email, :id => 'email', :placeholder => 'Enter your email' %>
    <%= f.submit "Sign up", :'data-theme' => 'a' %>
  <% end %>
  <p>by signing up you indicate that you accept our <%= link_to "terms of service", terms_path %> and <%= link_to "privacy policy", privacy_path %></p>
</div><!-- /content -->