<% content_for(:head_additions) do %>
<script type="text/javascript">
  var _kmq = _kmq || [];
  function _kms(u){
    setTimeout(function(){
      var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
      s.src = u; f.parentNode.insertBefore(s, f);
    }, 1);
  }
  _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/e3f924bcb188e79eee2462c203e2bb3fc21feaa8.1.js');
</script>
<script type="text/javascript">
$(document).bind("mobileinit", function(){
  $.mobile.ajaxEnabled = false;
});
</script>
<% end %>

<div data-role="header" data-theme="b">
  <div align="center"><img src="/images/logo-mobile.png"/></div>
</div><!-- /header -->

<div data-role="content">
  <h3>Smartvark is a new twist on local deals</h3>
  <%= render :partial => "index_copy" %>
  <p><a href="http://www.youtube.com/watch?v=efI6IMjUcII" target="_blank">Watch a video to get the whole scoop in less than 90 seconds</a></p>
  <%= form_for :user do |f| %>
    <%= f.label :facebook, "Save the hassle of remembering another account" %>
    <%= link_to "Connect with Facebook", user_omniauth_authorize_path(:facebook), "data-role" => "button", "data-icon" => "facebook", "data-theme" => "b" %>
    <br/><br/>
    <%= f.label :email, "Or create a Smartvark account:" %>
    <%= f.email_field :email, :id => 'email', :placeholder => 'Enter your email' %>
    <%= f.submit "Sign up", :'data-theme' => 'a' %>
  <% end %>
  <% if false %><!--
  <% if session[:potential] %>
    <p><strong>Thanks for signing up! You'll be hearing from us soon.</strong></p>
    <%= render :partial => "index_copy" %>
  <% else %>
    <%= render :partial => "index_copy" %>
    <%= form_for :potential, :html => {id: "notify_form"} do |f| %>
      <%= f.error_messages %>
      <%= f.label :email %>
      <%= f.email_field :email %>
      <%= f.submit "Notify Me!" %>
    <% end %>
  <% end %>
  <iframe title="YouTube video player" width="300" height="180" src="http://www.youtube.com/embed/efI6IMjUcII" frameborder="0" allowfullscreen></iframe>
  --><% end %>
</div><!-- /content -->

<% content_for(:footer_additions) do %>
<script type='text/javascript'>var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://');document.write(unescape('%3Cscript src="' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js" type="text/javascript"%3E%3C/script%3E'));</script><script type='text/javascript'>try { var mpmetrics = new MixpanelLib('7806576e26c5fcf03f5fc80f35bee7d5');} catch(err) {null_fn = function () {};var mpmetrics = { track: null_fn, track_funnel: null_fn, register: null_fn, register_once: null_fn,register_funnel: null_fn};}</script>
<script type='text/javascript'>mpmetrics.track('Load Landing page');$('#potential_email').focus(mpmetrics.track('Focus Email field'));$('#notify_form').submit(mpmetrics.track('Submit Notify form'));</script>
<% end %>