<div data-role="header" data-theme="b">
  <h1>LA-area deals</h1>
</div><!-- /header -->

<div data-role="content">
  <div align="center"><img src="/images/logo-mobile.png"/></div>
  <%= render :partial => "index_copy" %>
  <% if session[:potential] %>
    <p><strong>Thanks for signing up! You'll be hearing from us soon.</strong></p>
  <% else %>
    <%= form_for :potential do |f| %>
      <%= f.error_messages %>
      <%= f.label :email %>
      <%= f.text_field :email, :class => :txt %>
      <%= f.label :location %>
      <%= f.text_field :location, :class => :txt %>
      <%= f.submit "Notify Me!" %>
    <% end %>
  <% end %>
</div><!-- /content -->
