<% title "Local Deals. Personalized." %>

<% content_for(:head_additions) do %>
	<% if Rails.env.production? %>
		<script type="text/javascript">
			var _kmq = _kmq || [];
			function _kms(u){
				setTimeout(function(){
					var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
					s.src = u; f.parentNode.insertBefore(s, f);
				}, 1);
			}
			_kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/e3f924bcb188e79eee2462c203e2bb3fc21feaa8.1.js');
		</script>
	<% end %>
<% end %>

<div class="wide-box business-box">
	<div class="holder">
		<div class="frame">
			<h2>Smartvark is a new twist on local deals</h2>
			<div class="business-holder">
        <div class="col-r-wide">
          <div class="row">
            <p>Save the hassle of remembering another account</p>
          </div>
          <%= form_for :user do |f| %>
            <div class="row">
              <%= link_to "Connect with Facebook", user_omniauth_authorize_path(:facebook), :class => "facebook-signin-big", :title => "We don't get your login details from Facebook, we only confirm that you are who you say you are" %>
            </div>
            <div class="row">
              <p>or create a Smartvark account</p>
            </div>
            <div class="row">
              <%= f.email_field :email, class: "txt", placeholder: 'Enter your email' %>
              <%= f.submit "Sign up", class: "submit" %>
            </div>
						<div class="row">
              <p class="bottom-row">by signing up you indicate that you accept our <%= link_to "terms of service", terms_path, id: "show-terms" %> and <%= link_to "privacy policy", privacy_path, id: "show-privacy" %></p>
            </div>
          <% end %>
        </div>
        <div class="intro-text">
          <%= render :partial => "index_copy" %>
					<p>Watch this video to find out more:</p>
        </div>
				<div class="video-box">
					<iframe title="YouTube video player" width="480" height="300" src="http://www.youtube.com/embed/efI6IMjUcII?rel=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div><!-- business-holder end -->
		</div>
	</div>
</div><!-- business-box end -->
<div id="terms-popup" class="popup contract-popup">
	<h3>Terms of Service</h3>
	<%= render partial: "terms_of_service" %>
</div>
<div id="privacy-popup" class="popup contract-popup">
	<h3>Privacy Policy</h3>
	<%= render partial: "privacy_policy" %>
</div>
<% if Rails.env.production? %>
	<% content_for(:footer_additions) do %>
	<script type="text/javascript">document.write(unescape('%3Cscript type="text/javascript" src="'+document.location.protocol+'//dnn506yrbagrg.cloudfront.net/pages/scripts/0011/3564.js"%3E%3C%2Fscript%3E'))</script>
	<% end %>
<% end %>