<!DOCTYPE html>
<html>
<head>
  <title><%= @offer.title %> - Smartvark<%= " (#{Rails.env.upcase})" unless Rails.env.production? %></title>
  <%= favicon_link_tag %>
  <%= csrf_meta_tag %>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta property="fb:page_id" content="120811371274054" />
  <meta property="og:title" content="<%= @offer.title %> - Smartvark"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="<%= @offer.image_url_big %>"/>
  <meta property="og:site_name" content="Smartvark: Local Deals. Personalized."/>
  <meta property="og:url" content="<%= request.url %>"/>
  <meta property="og:description" content="<%= @offer.description %>"/>
  <%= stylesheet_link_tag 'bar' %>
</head>
<body>
    <div id="smartvark-bar">
      <%= link_to @offer.redemption_link, :class => "close-button" do %>
        <div id="close-button" title="Remove the Smartvark bar"></div>
      <% end %>
      <%= link_to viewdeal_path(@offer) do %>
        <div class="bar-element tooltip" title="Go to Smartvark.com to see more deals hand-picked by Artie personally for YOU">
          <span id="smartvark-logo"></span>
          <span id="tagline">Local Deals.<br/>Personalized.</span>
        </div>
      <% end %>
      <div class="bar-element rate tooltip" title="Tell Artie that you like this deal to get better recommendations in the future"><%= rate_link(@offer, 1, image_tag('/images/icon-thumbsup-white.png', alt: "+"), "topbar") %></div>
      <div class="bar-element rate tooltip" title="Tell Artie this deal isn't up your alley and he'll show you a new one"><%= rate_link(@offer, 0, image_tag('/images/icon-thumbsdown-white.png', alt: "-"), "topbar") %></div>
      <div class="bar-right">
        <div class="bar-element social"><a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="smartvark">Tweet</a></div>
        <div class="bar-element social"><g:plusone size="medium" count="false"></g:plusone></div>
        <div class="bar-element social"><fb:like layout="button_count" send="true"></fb:like></div>
        <div class="bar-element"><a href="javascript:UserVoice.showPopupWidget();" class="tooltip" title="We want your feedback, good and bad!">Problems? Suggestions?<br/>Send us your feedback!</a></div>
      </div>
    </div>
    <div id="smartvark-frame">
      <div class="spacer"></div>
      <iframe id="offer-frame" frameborder="0" src="<%= @offer.redemption_link %>"></iframe>
    </div>
  <script type="text/javascript">
    var uvOptions = {};
    (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/7p5hCbnWiQChvyFWODZ2Q.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
    })();
  </script>
  <%= javascript_include_tag :defaults, "jquery-plugins", "http://platform.twitter.com/widgets.js", "http://connect.facebook.net/en_US/all.js#xfbml=1", "http://apis.google.com/js/plusone.js" %>
  <script type="text/javascript">
    $(".tooltip").tipsy();
    $("#close-button").tipsy({gravity:'nw'});
  </script>
</body>
</html>