<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Smartvark</title>
  <%= render :partial => 'common_header' %>
</head>
<body>
	<!-- wrapper -->
	<div id="wrapper">
		<!-- wrapper-holder -->
		<div class="wrapper-holder">
			<!-- header -->
			<div id="header">
				<!-- logo -->
				<h1 class="logo"><a href="#">Smartvark</a></h1>
				<%= render :partial => 'login' %>
			</div>
			<!-- main -->
			<div id="main">
				<!-- main-holder -->
				<div class="main-holder">
					<!-- main-frame -->
					<div class="main-frame">
            <%= render :partial => 'search_box' %>
						<!-- two-columns -->
						<div class="two-columns">
							<div class="t"></div>
							<div class="c">
								<!-- holder -->
								<div class="holder">
									<!-- l-side -->
  <% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
									<div class="l-side">
										<!-- ttl-holder -->
										<div class="ttl-holder">
											<h2>My Profile</h2>
										</div>
										<!-- profile-form -->
                                                                                <%= render :partial => 'my_profile', :locals => { :f => f } %>
									</div>
									<!-- r-side -->
									<div class="r-side">
										<%= render :partial => "my_tastes" %>
									</div>
<% end %>
								</div>
							</div>
							<div class="b"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= render :partial => 'common_footer' %>
</body>
</html>
