<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>!OFFER LEAD HERE!</title>
</head>
<body>
  <h1><%= @offer.lead %></h1>
  <h2><%= @offer.business.name %></h2>
  <h3>
    <%=
    [ @offer.business.address_as_string, @offer.business.phone_1 ].join('<br/>')
    %>
  </h3>


  <%= image_tag @offer.coupon.url, :alt => @offer.business.name + ' logo' %>
  <p><%= @offer.description %></p>
  <p>Last day to redeem: <%= @offer.expiry_datetime.try(:strftime, '%B %d, %Y') %></p>
  <p>Fine print: <%= @offer.exclusivity_text %></p>
  <h2>Cashier use code: <%= @offer.redemption_code %></h2>
</body>
</html>
