<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= @offer.lead %> - smartvark</title>
</head>
<body>
  <h1><%= @offer.lead %></h1>
  <%= image_tag @offer.coupon.url, :alt => @offer.businesses.first.user.name + " logo" %>
  <h2><%= @offer.businesses.first.name %></h2>
  <h3>
    <%=
    [ @offer.businesses.first.address, @offer.businesses.first.address_2, @offer.businesses.first.city_state_zip, @offer.businesses.first.phone ].delete_if {|x| x.empty?}.join('<br/>').html_safe
    %>
  </h3>
  <p><%= @offer.description %></p>
  <p>Last day to redeem: <%= @offer.expire_date.try(:strftime, '%B %d, %Y') %></p>
  <p>Fine print: <%= @offer.exclusivity_text %></p>
  <h2>Cashier use code: <%= @offer.redemption_code %></h2>
</body>
</html>
