<% content_for :title, "Purchase Credits" %>
<div class="wide-box business-box">
	<div class="holder">
		<div class="frame">
			<h2>Purchase Offer Credits</h2>
			<div class="business-holder">
        <% if @offer %>
          <p>Your account has <strong><%= current_user.credits %> credits</strong>. The offer you activated requires <strong><%= @offer.credits_required %> credits</strong> (<%= @offer.num_locations %> locations x <%= @offer.num_months %> months). For more details on how this is calculated, refer to the <%= link_to "Merchant Agreement", agreement_path %>.</p>
        <% end %>
        <p>1 credit for $250</p>
				<%= form_tag ActiveMerchant::Billing::Integrations::Paypal.service_url do %>
          <%= hidden_field_tag :cmd, "_s-xclick" %>  
          <%= hidden_field_tag :encrypted, current_user.paypal_encrypted(paypal_return_url, ppipn_url, 1, 250, "Smartvark credit") %>
          <input type="image" src="https://www.sandbox.paypal.com/WEBSCR-640-20110429-1/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.sandbox.paypal.com/WEBSCR-640-20110429-1/en_US/i/scr/pixel.gif" width="1" height="1">
        <% end %>
			</div><!-- business-holder end -->
		</div>
	</div>
</div><!-- business-box end -->
