<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title><%= @offer.title %> - smartvark</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif;">
  <%= image_tag "/images/logo.png", alt: "Smartvark Logo" %>
  <hr>
  <h1><%= @offer.user.name %></h1>
  <h2><%= @offer.title %></h2>
	<h3>Valid at these locations:</h3>
	<% @offer.businesses.each do |business| %>
		<p><strong><%= business.name %></strong><br/>
		<%= business.address %><br/>
		<% unless business.address_2.blank? %>
		<%= business.address_2 %><br/>
		<% end %>
		<%= business.city %>, <%= business.state %> <%= business.zipcode%></p>
	<% end %>
  <p><%= @offer.description %></p>
  <p>Not valid after: <%= @offer.end_date.try(:strftime, '%B %d, %Y') %></p>
	<% unless @offer.fine_print.blank? %>
		<p>Fine print: <%= @offer.fine_print %></p>
	<% end %>
	<% unless @offer.redemption_code.blank? %>
		<h2>Cashier use code: <%= @offer.redemption_code %></h2>
	<% end %>
</body>
</html>
