<% title params[:search_terms] + " near " + params[:location] %>
<div data-role="header" data-theme="e">
  <h1>Search Results</h1>
  <%= render :partial => "search_button" %>
</div><!-- /header -->

<div data-role="content">
  <div data-role="fieldcontain" id="list-header">
    <p><strong>Results for &quot;<%= params[:search_terms] %>&quot; near <%= params[:location] %></strong></p>
    <%= render :partial => 'category_filter' %>
  </div>
  <% if @offers.empty? %>
    <i>We couldn't find any deals for your search.</i>
  <% else %>
    <ul data-role="listview" data-theme="d" id='offers_list'>
      <%= render :partial => 'offer', :collection => @offers %>
    </ul>
  <% end %>
</div><!-- /content -->
