<div data-role="content" data-theme="a">
  <%= form_for :user, :as => :user, :url => registration_path(:user) do |f| %>
    <h3>Save the hassle of remembering another account</h3>
    <%= link_to "Connect with Facebook", user_omniauth_authorize_path(:facebook), "data-role" => "button", "data-icon" => "facebook", "data-theme" => "b" %>
    <h3>or create a Smartvark account</h3>
    <%= f.label :email, "Email:" %>
    <%= f.email_field :email, :id => 'email', :placeholder => 'email adress' %>
    <%= f.label :password, "Password:" %>
    <%= f.password_field :password, :placeholder => 'password' %>
    <%= f.label :password_confirmation, "Re-enter password:" %>
    <%= f.password_field :password_confirmation, :placeholder => 're-enter password' %>
    <fieldset class="ui-grid-a">
      <div class="ui-block-a">
        <%= f.submit "Sign up", :'data-theme' => 'a' %>
      </div>
      <div class="ui-block-b">
        <a href='#' data-rel="back" data-role="button" data-theme="d">Cancel</a>
      </div>
    </fieldset>
  <% end %>
  <p>by signing up you indicate that you accept our <%= link_to "terms of service", terms_path %> and <%= link_to "privacy policy", privacy_path %></p>
</div><!-- /content -->