<div data-role="content" data-theme="a">
  <h3>Sign In</h3>
  <%= form_for :user, :as => :user, :url => session_path(:user) do |f| %>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), :class => 'facebook-signin' %><br/><br/>
    <label for="email">Email:</label>
    <%= f.text_field :email, :placeholder => 'email address' %>
    <label for="password">Password:</label>
    <%= f.password_field :password, :placeholder => 'password' %>
    <fieldset class="ui-grid-a">
      <div class="ui-block-a">
        <%= f.submit "Sign in", 'data-theme' => 'a' %>
      </div>
      <div class="ui-block-b">
        <a href='#' data-rel="back" data-role="button" data-theme="d">Cancel</a>
      </div>
    </fieldset>
    <%= link_to "Don't have an account yet? Sign up!", signup_path %>
  <% end %>
</div><!-- /content -->