<% title @offer.title %>
<div data-role="header" data-theme="b" data-backbtn="false">
  <img src="/images/logo-mobile.png"/>
  <% if current_user %>
    <%= link_to 'Home', root_path, "data-icon" => "home", :class => "ui-btn-right" %>
  <% else %>
    <%= link_to 'Sign in', signin_path, "data-icon" => "check", "data-transition" => "pop", :class => "ui-btn-right" %>
  <% end %>
</div><!-- /header -->

<div data-role="content" data-theme="b">
  <div class="ui-body">
    <%= raw mobile_coupon @offer %>
    <% unless current_user.opinions.map(&:offer_id).include?(@offer.id) %>
      <div id="like-buttons" class="ui-grid-a">
        <div class="ui-block-a">
          <%= link_to("Like",{ :controller => "welcome", :action => "set_opinion", :offer_id => @offer.friendly_id, :liked => 1 }, :method => :post, :remote => true, "data-role" => "button", "data-icon" => "thumbsup") %>
        </div>
        <div class="ui-block-b">
          <%= link_to("Nah",{ :controller => "welcome", :action => "set_opinion", :offer_id => @offer.friendly_id, :liked => 0 }, :method => :post, :remote => true, "data-role" => "button", "data-icon" => "thumbsdown", "data-theme" => "a") %>
        </div>
      </div>
  <% end %>
    <p>Valid thru <strong><%= @offer.end_date.try(:strftime,('%b %d, %Y')) %></strong> at:</p>
    <%= render :partial => 'business', :collection => @offer.businesses %>
    <p>Fine print: <%= auto_link(@offer.fine_print, :html => { :target => '_blank' }).html_safe %></p>
    <% if false %>
    <div data-role="controlgroup" data-type="horizontal" >
      <%= link_to("+",{ :controller => "welcome", :action => "set_opinion", :offer_id => @offer.friendly_id, :liked => 1 }, :method => :post, :remote => true, "data-role" => "button", "data-icon" => "thumbsup") %>
      <% if current_user && @offer.allow_mobile %>
      <%= link_to("Redeem", redeem_path(@offer), "data-role" => "button") %>
      <% end %>
      <%= link_to("-",{ :controller => "welcome", :action => "set_opinion", :offer_id => @offer.friendly_id, :liked => 0 }, :method => :post, :remote => true, "data-role" => "button", "data-icon" => "thumbsdown") %>
    </div>
    <ul data-role="listview" data-inset="true" data-theme="d">
      <li data-role="list-divider">Shout about it!</li>
      <% @offer.comments.each do |comment| %>
      <li>
        <h3><%= comment.text %></h3>
        <p><strong><%= comment.commenter.first %></strong></p>
        <p><%= comment.commenter.last %></p>
      </li>
      <% end %>
      <% if !logged_in? %>
        <i>You must be logged in to shout</i>
      <% elsif !@offer.commenters.include?(current_user) %>
        <div class="row">
          <%= form_tag shout_path(@offer.id) do %>
            <%= text_area_tag 'comment[text]', '', :id => 'shoutbox', :size => '40x3', :placeholder => "Here's your chance to share your experience with the deal and leave helpful tips for other users!" %>
            <%= submit_tag 'Shout!', :id => :shout %>
          <% end %>
        </div>
      <% end %>
    </ul>
    <% end %>
  </div>
</div><!-- /content -->