	<% title @offer.lead %>
            <%= render :partial => 'search_box' %>
						<!-- two-columns -->
						<div class="two-columns">
							<div class="t"></div>
							<div class="c">
								<!-- holder -->
								<div class="holder">
									<!-- l-side -->
									<div class="l-side">
										<!-- ttl-holder -->
										<div class="ttl-holder">
                                                                                  <h2><%=h @offer.lead %></h2>
										</div>
										<!-- share -->
										<div class="share">
											<!-- share-holder -->
											<div class="share-holder">
												<strong class="title">Share the Love:</strong>
												<ul>
													<li>
														<a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="smartvark">Tweet</a>
													</li>
													<li>
													  <a title="Post to Google Buzz" class="google-buzz-button" href="http://www.google.com/buzz/post" data-button-style="small-button" data-imageurl="http://smartvark.heroku.com/images/logo.png"></a>
													</li>
													<li>
														<fb:like layout="button_count"></fb:like>
													</li>
													<!--
													<li>
														<a href="#">
															<img src="/images/ico-mail.gif" alt="Mail" />
															<span>Email</span>
														</a>
													</li>
													-->
												</ul>
											</div>
										</div>
										<!-- info-area -->
										<div class="info-area">
											<!-- img -->
                                                                                        <div class="img">
                                                                                          <%= image_tag @offer.coupon.url, :alt => @offer.businesses.first.user.name + " logo" %>
											</div>
											<!-- info-box -->
                                                                                        <div class="info-box">
																																												  <h3>Valid at these locations:</h3>
                                                                                          <%= render :partial => 'offer_address', :object => @offer %>
                                                                                          <% if @offer.expired? %>
                                                                                            <%= image_tag('btn-expired.gif') %>
                                                                                          <% else %>
                                                                                            <a href="" id="btn-redeem<%= '-signup' unless logged_in? %>-open" class="btn">Redeem</a>
                                                                                              <!-- Redeem popup -->
                                                                                              <%= render :partial => 'redeem' %>
                                                                                            <% end %>
											</div>
                                                                                      </div>
										<!-- information -->
										<div class="information">
                                                                                    <h3>Expires: <%= std_date(@offer.expire_date) %></h3>
                                                                                    <p><%=h @offer.description %></p>
                                                                                    <p><%=h @offer.exclusivity_text %></p>
                                                                                    <p><%= link_to 'View more deals from ' + @offer.businesses.first.name, viewbusiness_url(@offer.businesses.first.to_param) %></p>
										</div>
									</div>
                                                                        <!-- r-side -->
                  <%= render :partial => 'shout' %>
								</div>
							</div>
							<div class="b"></div>
						</div>
								<% content_for(:footer_additions) do %>
								<%= javascript_include_tag "http://platform.twitter.com/widgets.js", "http://connect.facebook.net/en_US/all.js#xfbml=1", "http://www.google.com/buzz/api/button.js" %>
								<% end %>
