<% content_for :title, @offer.title %>
<% content_for :fb_desc, @offer.description %>
<% content_for :fb_img, @offer.logo.url if @offer.logo.file? %>
<%= render :partial => 'search_box' %>
<div class="two-columns">
	<div class="t"></div>
	<div class="c">
		<div class="holder">
			<div class="l-side">
				<div class="ttl-holder">
						<h2><%= @offer.title %></h2>
				</div>
				<div class="share">
					<div class="share-holder">
						<strong class="title">Share the Love:</strong>
						<ul>
							<li>
								<a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="smartvark">Tweet</a>
							</li>
							<li>
								<fb:like layout="button_count" send="true"></fb:like>
							</li>
							<!--
							<li>
								<a href="#">
									<img src="/images/ico-mail.gif" alt="Mail" />
									<span>Email</span>
								</a>
							</li>
							-->
						</ul>
					</div>
				</div>
				<div class="info-area">
						<div class="img">
							<% if @offer.logo.file? %>
								<%= image_tag @offer.logo.url, :alt => @offer.user.name + " logo" %>
							<% end %>
						</div>
						<div class="info-box">
							<h3>Valid at these locations:</h3>
							<%= render :partial => 'offer_address', :object => @offer %>
							<% if @offer.expired? %>
								<%= image_tag('btn-expired.gif') %>
							<% else %>
								<a href="" id="btn-redeem<%= '-signup' unless logged_in? %>-open" class="btn">Redeem</a>
									<%= render :partial => 'redeem' %>
								<% end %>
					</div>
				</div>
				<div class="information">
						<h3>Not valid after <%= std_date(@offer.end_date) %></h3>
						<p><%= auto_link(@offer.description, :html => { :target => '_blank' }).html_safe %></p>
						<p><%= @offer.fine_print %></p>
				</div>
			</div>
			<%= render :partial => 'shout' %>
		</div>
	</div>
	<div class="b"></div>
</div>
<% content_for(:footer_additions) do %>
	<%= javascript_include_tag "http://platform.twitter.com/widgets.js", "http://connect.facebook.net/en_US/all.js#xfbml=1" %>
<% end %>
