<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>smartvark - view deal</title>
  <%= render :partial => 'common_header' %>
</head>
<body>
	<!-- wrapper -->
	<div id="wrapper">
		<!-- wrapper-holder -->
		<div class="wrapper-holder">
			<!-- header -->
			<div id="header">
				<!-- logo -->
				<h1 class="logo"><a href="/">Smartvark</a></h1>
                                <%= render :partial => 'users/signup' %>
                                <%= render :partial => 'login' %>
			</div>
			<!-- main -->
			<div id="main">
				<!-- main-holder -->
				<div class="main-holder">
					<!-- main-frame -->
					<div class="main-frame">
            <%= render :partial => 'search_box' %>
						<!-- two-columns -->
						<div class="two-columns">
							<div class="t"></div>
							<div class="c">
								<!-- holder -->
								<div class="holder">
									<!-- l-side -->
									<div class="l-side">
										<!-- ttl-holder -->
										<div class="ttl-holder">
                                                                                  <h2><%=h @offer.lead %></h2>
										</div>
										<!-- share -->
										<div class="share">
											<!-- share-holder -->
											<div class="share-holder">
												<strong class="title">Share the Love:</strong>
												<ul>
													<li>
														<a href="#">
															<img src="/images/ico-twitter.gif" alt="Twitter" />
															<span>Tweet</span>
														</a>
													</li>
													<li>
														<a href="#">
															<img src="/images/ico-facebook.gif" alt="Facebook" />
															<span>Post</span>
														</a>
													</li>
													<li>
														<a href="#">
															<img src="/images/ico-mail.gif" alt="Mail" />
															<span>Email</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
										<!-- info-area -->
										<div class="info-area">
											<!-- img -->
                                                                                        <div class="img">
                                                                                          <%= image_tag @offer.coupon.url, :alt => 'business-logo' %>
											</div>
											<!-- info-box -->
                                                                                        <div class="info-box">
                                                                                          <%= render :partial => 'offer_address', :object => @offer %>
                                                                                          <p>
                                                                                          <%= link_to 'Map It', {}, :target => '_new', :href => "http://maps.google.com?q=#{@offer.business.address_as_string}" %>
                                                                                          </p>
                                                                                          <% if @offer.expired? %>
                                                                                            <%= image_tag('btn-expired.gif') %>
                                                                                          <% else %>
                                                                                            <a href="" id="btn-redeem<%= '-signup' unless logged_in? %>-open" class="btn">Redeem</a>
                                                                                              <!-- Redeem popup -->
                                                                                              <%= render :partial => 'redeem' %>
                                                                                            <% end %>
											</div>
                                                                                      </div>
										<!-- information -->
										<div class="information">
                                                                                    <h3>Expires: <%= std_date(@offer.expiry_datetime) %></h3>
                                                                                    <p><%=h @offer.description %></p>
                                                                                    <p><%=h @offer.exclusivity_text %></p>
                                                                                    <p><%= link_to 'View more deals from ' + @offer.business.name, viewbusiness_url(@offer.business.to_param) %></p>
										</div>
									</div>
                                                                        <!-- r-side -->
                  <%= render :partial => 'shout' %>
								</div>
							</div>
							<div class="b"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= render :partial => 'common_footer' %>
</body>
</html>
