<% title @business.name %>
<% footer_additions 'jmapping' %>
<%= render :partial => 'search_box' %>
						<!-- wrap -->
						<div class="merchant-area">
							<!-- content -->
							<div id="content">
								<!-- content-holder -->
								<div class="content-holder">
									<!-- content-frame -->
									<div class="content-frame">
                                                                          <h2><%=h @business.name %> - <%=h @business.city %></h2>
										<!-- info -->
										<div class="info">
											<div class="contact">
                                                                                          <ul class="rate">
                                                                                            <% if @business.yelp_avg_rating_url.present? %>
                                                                                              <%= image_tag @business.yelp_avg_rating_url %>
                                                                                            <% end %>
                                                                                          </ul>
                                                                                                <address><strong><%= @business.address %></strong><strong><%= @business.city %>, <%= @business.state %> <%= @business.zipcode %></strong></address>
                                                                                                <strong class="phone"><%= @business.phone_1 %></strong>
                                                                                                <% if @business.url.present? %>
                                                                                                  <%= link_to @business.url, {}, :href => "http://#{@business.url}" %>
                                                                                                <% end %>
												<ul class="social">
                                                                                                  <li>
                                                                                                  <% if @business.twitter_link.present? %>
                                                                                                    <%= link_to image_tag('ico-twitter2.gif', :alt => 'twitter', :width => '23', :height => '24'),{},  { :href => @business.twitter_link, :target => :_new } %>
                                                                                                  <% end %>
                                                                                                  </li>
                                                                                                  <li>
                                                                                                  <% if @business.facebook_link.present? %>
                                                                                                    <%= link_to image_tag('ico-facebook2.gif', :alt => 'facebook', :width => '23', :height => '24'), {}, { :href => @business.facebook_link, :target => :_new } %>
                                                                                                  <% end %>
                                                                                                  </li>
                                                                                                  <li>
                                                                                                  <% if @business.yelp_url.present? %>
                                                                                                    <%= link_to image_tag('ico-yelp.gif', :alt => 'yelp', :width => '23', :height => '24'), {}, { :href => @business.yelp_link, :target => :_new } %>
                                                                                                  <% end %>
                                                                                                  </li>
												</ul>
												<dl>
													<dt>Hours:</dt>
                                                                                                        <dd><%= (@business.hours || 'n/a').gsub(/;/,'<br/>') %></dd>
												</dl>
											</div>
											<% if @business.user.logo.present? %>
											<div class="img">
											  <%= image_tag @business.user.logo.url, :alt => @business.user.name + " logo" %>
											</div>
											<% end %>
										</div>
                                                                                <ul class="posts">
                                                                                  <%= render :partial => 'business_offer', :collection => @business.offers.active %>
										</ul>
									</div>
								</div>
							</div>
							<!-- aside -->
							<div class="aside">
								<div class="map-holder">
									<div id="map"></div>
									<div id="map-side-bar">
										<%= render :partial => 'map_business', :object => @business %>
									</div>
								</div>
							</div>
						</div>
						