<% content_for :title, "Local Deals. Personalized." %>

<div class="wide-box business-box">
	<div class="holder">
		<div class="frame">
			<h2>Choose a password to finish creating your account</h2>
			<div class="business-holder">
        <div class="col-r-wide">
          <%= render partial: "/welcome/index_copy", locals: { for_invite: true } %>
        </div>
        <div style="width:400px;">
          <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
            <div class="row">
              <%= devise_error_messages! %>
            </div>
            <%= f.hidden_field :invitation_token %>

            <div class="row">
              <%= f.label :password %><br />
              <%= f.password_field :password, class: "txt", placeholder: "at least 6 characters" %>
            </div>

            <div class="row">
              <%= f.label :password_confirmation, "Re-enter password" %><br />
              <%= f.password_field :password_confirmation, class: "txt", placeholder: "must match previous field" %>
            </div>

            <div class="row">
              <%= f.submit "Set my password", class: "submit" %>
            </div>

						<div class="row">
              <p class="bottom-row">by signing up you indicate that you accept our <%= link_to "terms of service", terms_path, id: "show-terms" %> and <%= link_to "privacy policy", privacy_path, id: "show-privacy" %></p>
            </div>
          <% end %>
        </div>
				<div class="video-box">
					<p>Watch this video to find out more:</p>
					<iframe title="YouTube video player" width="480" height="300" src="http://www.youtube.com/embed/efI6IMjUcII?rel=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div><!-- business-holder end -->
		</div>
	</div>
</div><!-- business-box end -->
<div id="terms-popup" class="popup contract-popup">
	<h3>Terms of Service</h3>
	<%= render partial: "welcome/terms_of_service" %>
</div>
<div id="privacy-popup" class="popup contract-popup">
	<h3>Privacy Policy</h3>
	<%= render partial: "welcome/privacy_policy" %>
</div>
