<% title "Welcome" %>
<div class="wide-box business-box">
	<div class="holder">
		<div class="frame">
			<h2>Almost there...</h2>
			<div class="business-holder">
        <p>Choose a password to finish creating your account</p>
        
				<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f| %>
          <div class="row">
            <%= devise_error_messages! %>
          </div>
          <%= f.hidden_field :invitation_token %>
        
          <div class="row">
            <%= f.label :password %><br />
            <%= f.password_field :password, class: "txt", placeholder: "at least 6 characters" %>
          </div>
        
          <div class="row">
            <%= f.label :password_confirmation, "Re-enter password" %><br />
            <%= f.password_field :password_confirmation, class: "txt", placeholder: "must match previous field" %>
          </div>
        
          <div class="row">
            <%= f.submit "Set my password", class: "submit" %>
          </div>
        <% end %>
			</div><!-- business-holder end -->
		</div>
	</div>
</div><!-- business-box end -->