<div data-role="header" data-theme="b">
  <h1>Priority list</h1>
</div><!-- /header -->

<div data-role="content">
  <h2>You're on the priority list!</h2>
  <%= render :partial => "new_copy" %>
  <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name) do |f| %>
    <%= devise_error_messages! %>
    <%= f.email_field :email, class: "txt", placeholder: "Email address to invite" %>
    <%= f.submit "Send the email invitation", class: "submit" %>
  <% end %>
</div><!-- /content -->