<% content_for(:head_additions) do %>
<script type="text/javascript">
  var _kmq = _kmq || [];
  function _kms(u){
    setTimeout(function(){
      var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
      s.src = u; f.parentNode.insertBefore(s, f);
    }, 1);
  }
  _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/e3f924bcb188e79eee2462c203e2bb3fc21feaa8.1.js');
</script>
<% end %>

<div data-role="header" data-theme="b">
  <h1>Priority list</h1>
</div><!-- /header -->

<div data-role="content">
  <h2>You're on the priority list!</h2>
  <%= render :partial => "new_copy" %>
  <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name) do |f| %>
    <%= devise_error_messages! %>
    <%= f.email_field :email, class: "txt", placeholder: "Email address to invite" %>
    <%= f.submit "Send the email invitation", class: "submit" %>
  <% end %>
</div><!-- /content -->