<% title "Local Deals. Personalized." %>

<% content_for(:head_additions) do %>
	<% if Rails.env.production? %>
		<script type="text/javascript">
			var _kmq = _kmq || [];
			function _kms(u){
				setTimeout(function(){
					var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
					s.src = u; f.parentNode.insertBefore(s, f);
				}, 1);
			}
			_kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/e3f924bcb188e79eee2462c203e2bb3fc21feaa8.1.js');
		</script>
	<% end %>
	<meta property="og:title" content="Smartvark: Local Deals. Personalized."/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="<%= root_url %>images/touch-icon.png"/>
  <meta property="og:site_name" content="Smartvark: Local Deals. Personalized."/>
  <meta property="og:description" content="Artie the Aardvark tracks down deals that match your tastes. We don't spam you with junk you don't want. It's that simple. Oh, and we don't charge you for our deals. They're FREE."/>
  <meta property="fb:page_id" content="120811371274054" />
<% end %>

<div class="wide-box business-box">
	<div class="holder">
		<div class="frame">
			<h2>You're on the priority list!</h2>
			<div class="business-holder">
        <%= render :partial => "new_copy" %>
        <% referral_url = root_url + current_user.id.to_s(36) %>
        <table>
          <tr>
            <th>Invite via email</th>
            <th>Your invitation link</th>
            <th>Post it on Facebook</th>
            <th>Post it on Twitter</th>
          </tr>
          <tr>
            <td>
              <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name) do |f| %>
                <div class="row">
                  <%= devise_error_messages! %>
                </div>
                <div class="row">
                  <%= f.email_field :email, class: "txt", placeholder: "Email address to invite" %>
                </div>
                <div class="row">
                  <%= f.submit "Send the email invitation", class: "submit" %>
                </div>
              <% end %>
            </td>
            <td><input type="text" readonly class="txt" value="<%= referral_url %>"/><br/>Copy this into an email, or use the links to the right for quick posting to social networks</td>
            <td><fb:like href="<%= referral_url %>" layout="button_count" show_faces="false" action="recommend" send="true" font=""></fb:like><br/>Add a comment to your post to spice it up and get your friends' attention!</td>
            <td><a href="http://twitter.com/share" class="twitter-share-button" data-text="Tired of getting spammed with local deals you don't want? Check out @Smartvark: Local Deals. Personalized." data-url="<%= referral_url %>" data-count="none">Tweet</a></td>
          </tr>
        </table>
			</div><!-- business-holder end -->
		</div>
	</div>
</div><!-- business-box end -->
<% content_for(:footer_additions) do %>
  <%= javascript_include_tag "http://platform.twitter.com/widgets.js", "http://connect.facebook.net/en_US/all.js#xfbml=1" %>
<% end %>