<% title "Priority list" %>
<div class="wide-box business-box">
	<div class="holder">
		<div class="frame">
			<h2>You're on the priority list!</h2>
			<div class="business-holder">
        <p>Your account has been created but isn't active yet.<br/>
        The response has been overwhelming, and we can only activate a limited number of users each day.</p>
        
        <p>If you refer 3 people who sign up, your account will be activated.<br/>
        You can email them an invite or share your personalized link to Facebook, Twitter, etc below.</p>
        
				<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name) do |f| %>
          <div class="row">
            <%= devise_error_messages! %>
          </div>
          <%= current_user.invitation_token %>
          <div class="row">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: "txt" %>
          </div>
        
          <div class="row">
            <%= f.submit "Send an invitation", class: "submit" %>
          </div>
        <% end %>
        <% referral_url = root_url + current_user.id.to_s(36) %>
        <input type="text" value="<%= referral_url %>"/>
        <fb:like href="<%= referral_url %>" layout="button_count" show_faces="false" action="recommend" font=""></fb:like>
        <a href="http://twitter.com/share" class="twitter-share-button" data-text="Check it out!" data-url="<%= referral_url %>" data-count="none" data-via="smartvark">Tweet</a>
        <a title="Post to Google Buzz" class="google-buzz-button" href="http://www.google.com/buzz/post" data-button-style="small-button" data-imageurl="http://smartvark.com/images/logo-mobile.png"></a>
			</div><!-- business-holder end -->
		</div>
	</div>
</div><!-- business-box end -->
<% content_for(:footer_additions) do %>
  <%= javascript_include_tag "http://platform.twitter.com/widgets.js", "http://connect.facebook.net/en_US/all.js#xfbml=1", "http://www.google.com/buzz/api/button.js" %>
  <% end %>