<%= form_for(@offer,  :html => {:multipart => true}) do |f| %>
<fieldset>
  <div class="offer-form">
    <%= f.error_messages %>
    <div class="row">
      <%= f.label :offer_type, 'Offer type', :class => :width1 %>
      <%= f.select :offer_type, options_for_select(OfferTypes, @offer.offer_type), { :include_blank => true }, {:class => :sel, :onchange => "jQuery('##{@offer.id}_type').html(jQuery('#offer_offer_type').val());jQuery('##{@offer.id}_type').removeClass();jQuery('##{@offer.id}_type').addClass('c_'+jQuery('#offer_offer_type').val())"} %>
      <div class="caption two-lines">
        <span>Deals: sales, happy hours specials and other non-coupons Events: infrequent special promotions (ex: loyal shopper party)</span>
      </div>
    </div>
    <div class="row">
      <%= f.label :category_id, 'Category', :class => :width1 %>
      <%= select "category", "parents", options_from_collection_for_select(Category.all_parents.all_except('All'),'id','name',@offer.category.nil? ? nil : @offer.category.parent_or_id),{ :include_blank => true }, {:class => :sel2, :id => "parent_category" } %>
      <% Category.all_parents.all_except('All').each do |parent_category| %>
        <%= select "category", "children", options_from_collection_for_select(Category.children_of(parent_category.id),'id','name',@offer.category_id),{ :include_blank => true }, {:class => "sel2 child_select", :id => "children_of_"+parent_category.id.to_s, :style=> ("display:none;" unless @offer.category && @offer.category.parent_id == parent_category.id) } %>
      <% end %>
      <%= f.hidden_field :category_id, :value => @offer.category_id %>
    </div>
    <div class="row">
      <%= f.label :offer_active_on, 'Starts on' %>
      <%= f.text_field :offer_active_on, :format => :us_date, :class => 'txt' %>
      <div class="caption">
        <span>Date deal becomes active</span>
      </div>
    </div>
    <div class="row">
      <%= f.label :expiry_datetime , 'Ends on' %>
      <%= f.text_field :expiry_datetime, :format => :us_date, :class => 'txt' %>
      <div class="caption">
        <span>Date deal expires (end of day)</span>
      </div>
    </div>
  </div><!-- /offer-form end -->

    <div class="text-box text1">
      <div class="title">
        <h3>Title of Offer (50 character maximum)</h3>
      </div>
      <div class="text text2">
        <%= f.text_area :lead, :onchange => "jQuery('##{@offer.id}_lead').html(jQuery('#offer_lead').val())", :placeholder => "Example: Save 50% on any full-price item" %>
      </div>
    </div><!-- /text-box end -->
    <div class="text-box">
      <div class="title">
        <h3>Details of Offer (200 character maximum)</h3>
      </div>
      <div class="text text1">
          <%= f.text_area :description, :onchange => "jQuery('##{@offer.id}_diz').html(jQuery('#offer_description').val())", :placeholder => "Example: You'll find a wide variety of fashions in stock to get you ready for the season!" %>
      </div>
    </div><!-- /text-box end -->
    <div class="text-box">
      <div class="title">
        <h3>Fine Print (200 character maximum)</h3>
      </div>
      <div class="text text1">
          <%= f.text_area :exclusivity_text, :placeholder => "Example: Not valid with any other offer. Not valid on already marked-down items" %>
      </div>
    </div><!-- /text-box end -->
    <div class="text-box">
      <div class="title">
        <h3>Valid at the following locations</h3>
      </div>
      <div class="text">
        <div class="options-form">
          <ul class="options">
              <li id='biz_true'>
                <a href="" onClick="checkall_offer_form(true);return false">Select All </a>
              </li>
              <li id='biz_false'>
                <a href="" onClick="checkall_offer_form(false);return false;">Select None</a>
              </li>
            </ul>
  <% @businesses.in_groups_of(4) do |group| %>
  <ul class="row">
  <% group.compact.each do |business| %>
    <li>
      <label>
        <%= check_box_tag 'offer[business_ids][]', business.id, @offer.new_record? ? true : @offer.business_ids.include?(business.id), :class => 'chk location_chk' %>
        <%= business.short_or_name %>
      </label>
    </li>
  <% end %>
  </ul>
  <% end %>
      </div><!-- /options-form end -->
    </div>
  </div><!-- /text-box end -->

  <div class='form1'>
    <div class="row">
      <div class="left">
        <%= f.label :redemption_code %>
        <%= f.text_field :redemption_code, :class => :txt, :onchange => "jQuery('##{@offer.id}_rc').html(jQuery('#offer_redemption_code').val())", :placeholder => "Ex: HALFOFFTUES" %>
      </div>
      <div class="right">
        <span>Code for tracking this deal in your system</span>
      </div>
    </div>
    <div class="row">
      <div class="left">
        <%= f.label :quantity, 'Redemption limit' %>
        <%= f.text_field :quantity, :class => 'txt w1' %>
      </div>
      <div class="right">
        <span>Maximum number of redemptions - blank for unlimited</span>
      </div>
    </div>
    <div class="row check">
      <div class="left">
        <%= f.check_box :allow_print, {:class => :chk, :checked => "checked"} %>
        <%= f.label :allow_print, 'Printable offer' %>
      </div>
      <div class="right">
        <span>Allow redemptions from a computer printout</span>
      </div>
    </div>
    <div class="row check">
      <div class="left">
          <%= f.check_box :allow_mobile, :class => :chk %>
          <%= f.label :allow_mobile, 'Mobile offer' %>
      </div>
      <div class="right">
        <span>Allow redemptions from a mobile phone screen</span>
      </div>
    </div>
    <%= f.hidden_field :draft %>
    <div class="btns-holder">
    <div class="center">
      <ul class="btns">
        <li><%= link_to_function "Activate Deal", "jQuery('#offer_draft').val('false');jQuery('form:first').submit();return false;", :class => 'activate-deal' %></li>
        <li><%= link_to_function "Save as Draft", "jQuery('#offer_draft').val('true');jQuery('form:first').submit();return false;", :class => 'save-draft' %></li>
        <li><%= link_to_function 'cancel', "if (confirm('Are you sure?')) { window.location.href='#{dealdashboard_url}';return true; } else { return false; }", :class => 'cancel' %></li>
    </ul><!-- /btns end -->
    </div>
  </div><!-- /btns-holder end -->
</div><!-- /form1 end -->
</fieldset>
<% end %>
