<h1>Listing offers</h1>

<table>
  <tr>
    <th>Business</th>
    <th>Category</th>
    <th>Lead</th>
    <th>Expiry datetime</th>
  </tr>

<% @offers.each do |offer| %>
  <tr>
    <td><%=h offer.business.name %></td>
    <td><%=h offer.category.name %></td>
    <td><%=h offer.lead %></td>
    <td><%=h offer.expiry_datetime %></td>
    <td><%= link_to 'Show', offer %></td>
    <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
    <td><%= link_to 'Destroy', offer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New offer', new_offer_path %>
