<h1>Listing offers</h1>

<table>
  <tr>
    <th>Business</th>
    <th>Category</th>
    <th>Lead</th>
    <th>Expiry datetime</th>
  </tr>

<% @offers.each do |offer| %>
  <tr>
    <td><%=link_to offer.businesses.first.try(:name), offer.business %></td>
    <td><%=link_to offer.category.try(:name), offer.category %></td>
    <td><%= offer.title %></td>
    <td><%= offer.end_date %></td>
    <td><%= link_to 'Show', offer %></td>
    <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
    <td><%= link_to 'Destroy', offer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New offer', new_offer_path %>
