<p>
  <b>Lead:</b>
  <%= @offer.lead %>
  </p>

<p>
  <b>Offer Type:</b>
  <%= @offer.offer_type %>
</p>

<p>
  <b>Offer Becomes Active On:</b>
  <%= @offer.active_date.try(:strftime,'%B %d, %Y') %>
</p>

<p><b>Redemption by:</b>
  <ul>
    <li>'print' <%= 'NOT' unless @offer.allow_print? %> allowed
    <li>'mobile' <%= 'NOT' unless @offer.allow_mobile? %> allowed
  </ul>
</p>

<p>
  <b>Description:</b>
  <%= @offer.description %>
</p>

<p>
  <b>Exclusivity text:</b>
  <%= @offer.exclusivity_text %>
</p>

<p>
  <b>Redemption Code:</b>
  <%= @offer.redemption_code%>
</p>

<p>
  <b>Quantity:</b>
  <%= @offer.quantity %>
</p>

<p>
  <b>Expiry datetime:</b>
  <%= @offer.expire_date %>
</p>

<p>
  <b>Category:</b>
  <%= @offer.category.name %>
</p>

<p>
  <b>Business:</b>
  <%= @offer.businesses.first.name %>
</p>

<p>
  <b>Coupons</b>
  <%= image_tag @offer.coupon.url %>
</p>


<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
