<div id="signin-popup" class="popup">
  <%= form_for get_user_session, :url => user_session_path do |f| %>
    <fieldset>
      <h3>Sign in</h3>
      <div class="popup-row">
      	<%= f.label :login, "email" %>
      	<%= f.text_field :login, :class => 'txt', :placeholder => 'email' %>
      </div>
      <div class="popup-row">
      	<%= f.label :password %>
      	<%= f.password_field :password, :class => 'txt', :placeholder => 'password' %>
      </div>
      <div class="remember">
        <%= f.check_box :remember_me, :class => 'chk' %><%= f.label :remember_me %>
      </div>
      <div class="popup-buttons">
        <%= f.submit "Sign in", :class => 'btn-signin' %>
        <input class="btn-signin-cancel simplemodal-close" type="submit" value="Cancel" />
      </div>
	  <div class="popup-buttons">
        <a href="#" id="signup-from-signin">Don't have an account? Sign up!</a>
      </div>
    </fieldset>
  <% end %>
</div>
