<% new_user = true if local_assigns[:new_user].nil? %>
<div class="right">
<% if logged_in? %>
  <% if current_user.role == "business" %>
    <div class="frame">
      <div class="account-area">
        <!-- holder -->
        <div class="holder">
          <strong class="ttl">Welcome <span><%= current_user.name_or_email %></span> (<%= link_to "sign out", destroy_user_session_path %>)</strong>
        </div>
        <p><strong><%= current_user.credits %> offer credit<%= "s" if current_user.credits != 1 %></strong> <%= link_to "purchase more", purchase_credits_path %></p>
      </div>
    </div>
    <div class="frame">
	    &nbsp;
		</div>
    <div class="frame">
      <ul class="menu">
        <li><%= link_to_unless_current 'dashboard', dealdashboard_path %></li>
				<% if current_user.businesses.count > 0 && current_user.businesses.last.persisted? %>
					<li><%= link_to_unless_current 'business profile', edit_business_path(current_user.businesses.last) %></li>
				<% else %>
					<li><%= link_to_unless_current 'business profile', new_business_path %></li>
				<% end %>
      </ul>
    </div>
  <% elsif current_user.role == "user" %>
    <div class="frame">
      <div class="account-area">
        <div class="holder">
          <p><%= link_to current_user.profile_next_step, myprofile_path %></p>
          <strong class="ttl">Welcome <span><%= current_user.name_or_email %></span></strong>
          <div class="progress-bar"><span style="width:<%= (current_user.profile_progress * 1.28).round %>px">&nbsp;</span></div>
        </div>
        <p>not you? <%= link_to "sign out", destroy_user_session_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;profile <%= current_user.profile_progress %>% complete</p>
      </div>
    </div>
    <div class="frame">
      <ul class="menu">
				<li><%= link_to_unless_current 'my deals', mydeals_path %></li>
				<li><%= link_to_unless_current 'my profile', myprofile_path %></li>
      </ul>
  </div>
  <% end %>
<% else %>
	<div class="frame">
		<div class="account-area">
			<%= link_to "Sign in", new_user_session_path, id: "btn-signin-open", class: "btn-popup-open" %>
			<% if new_user %> or
				<%= render :partial => 'users/signup' %>
			<% end %>
			<%= render :partial => 'users/signin', locals: { new_user: new_user } %>
		</div>
	</div>
	<% if flash[:error] %>
	<div id="error_explanation" style="float:right;">
		<%= raw flash[:error] %>
	</div>
	<% end %>
<% end %>
</div>