<% new_user = true if local_assigns[:new_user].nil? %>
<div class="right">
<% if logged_in? %>
  <% if current_user.business %>
    <div class="frame">
      <div class="account-area">
        <!-- holder -->
        <div class="holder">
          <strong class="ttl">Welcome <span><%= current_user.name %></span></strong>
        </div>
        <p><%= link_to "log out", destroy_user_session_path %>&nbsp;&nbsp;</p>
      </div>
    </div>
    <div class="frame">
	    &nbsp;
	</div>
    <div class="frame">
      <ul class="menu">
        <li><%= link_to_unless_current 'deal dashboard', dealdashboard_url %></li>
        <li><%= link_to_unless_current 'business profile', new_business_url %></li>
      </ul>
    </div>
  <% else %>
    <div class="frame">
      <div class="account-area">
        <div class="holder">
          <p><%= link_to 'phone number (+10%)', myprofile_url %></p>
          <strong class="ttl">Welcome <span><%= current_user.name_or_email %></span></strong>
          <div class="progress-bar"><span style="width:78px">&nbsp;</span></div>
        </div>
        <p>not you? <%= link_to "log out", destroy_user_session_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;profile 50% complete</p>
      </div>
    </div>
    <div class="frame">
		  <ul class="menu">
			  <li><%= link_to_unless_current 'my deals', mydeals_url %></li>
			  <li><%= link_to_unless_current 'my profile', myprofile_url %></li>
		  </ul>
	</div>
	<% end %>
<% else %>
    <div class="frame">
      <div class="account-area">
        <a href="" id="btn-signin-open" class="btn-signin-open">Sign in</a>
        <% if new_user %> or
          <%= render :partial => 'users/signup' %>
        <% end %>
        <%= render :partial => 'users/signin' %>
      </div>
    </div>
<% end %>
</div>