<% new_user = true if local_assigns[:new_user].nil? %>
<div class="right">
<% if logged_in? %>
  <% if current_user.role == "business" %>
    <div class="frame">
      <div class="account-area">
        <!-- holder -->
        <div class="holder">
          <strong class="ttl">Welcome <span><%= current_user.name %></span></strong>
        </div>
        <p><%= link_to "sign out", destroy_user_session_path %>&nbsp;&nbsp;</p>
      </div>
    </div>
    <div class="frame">
	    &nbsp;
	</div>
    <div class="frame">
      <ul class="menu">
        <li><%= link_to_unless_current 'dashboard', dealdashboard_path %></li>
        <li><%= link_to_unless_current 'business profile', new_business_path %></li>
      </ul>
    </div>
  <% else %>
    <div class="frame">
      <div class="account-area">
        <div class="holder">
          <p><%= link_to current_user.profile_next_step, myprofile_path %></p>
          <strong class="ttl">Welcome <span><%= current_user.name_or_email %></span></strong>
          <div class="progress-bar"><span style="width:<%= (current_user.profile_progress * 1.28).round %>px">&nbsp;</span></div>
        </div>
        <p>not you? <%= link_to "sign out", destroy_user_session_path %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;profile <%= current_user.profile_progress %>% complete</p>
      </div>
    </div>
    <div class="frame">
      <ul class="menu">
	<li><%= link_to_unless_current 'my deals', mydeals_path %></li>
	<li><%= link_to_unless_current 'my profile', myprofile_path %></li>
      </ul>
  </div>
  <% end %>
<% else %>
    <div class="frame">
      <div class="account-area">
        <a href="" id="btn-signin-open" class="btn-signin-open">Sign in</a>
        <% if new_user %> or
          <%= render :partial => 'users/signup' %>
        <% end %>
        <%= render :partial => 'users/signin' %>
      </div>
    </div>
    <% if flash[:error] %>
    <div id="errorExplanation" style="float:right;">
      <%= raw flash[:error] %>
    </div>
    <% end %>
<% end %>
</div>