<div id='admin_menu'>
<%= link_to 'bizs', businesses_url %> |
<%= link_to 'cats', categories_url %> |
<%= link_to 'comments', comments_url %> |
<%= link_to 'offers', offers_url %> |
<%= link_to 'redemptions', redemptions_url %> |
<%= link_to 'users', users_url %> |
<%= link_to 'public site', root_url, :target => '_new' %>
</div>
