<!DOCTYPE html>
<html xml:lang="en" lang="en" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
<head>
	<title>Smartvark</title>
	<%= stylesheet_link_tag 'jquery-mobile', 'mobile' %>
	<%= javascript_include_tag 'jquery.min', 'jquery_ujs' %>
  <%= content_for?(:head_additions) ? yield(:head_additions) : nil -%>
  <meta property="fb:page_id" content="120811371274054" />
  <%= javascript_include_tag 'mobile', 'jquery-mobile' %>
	<%= favicon_link_tag "http://s3.amazonaws.com/smartvark/assets/favicon.png", :type => 'image/png' %>
	<link rel="apple-touch-icon-precomposed" href="/images/touch-icon.png" />
	<link rel="apple-touch-startup-image" href="/images/splash.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes" />
  <meta property="og:title" content="<%= content_for?(:title) ? content_for(:title) : controller.action_name.titlecase %> - Smartvark"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="<%= content_for?(:fb_img) ? content_for(:fb_img) : root_url + "images/touch-icon.png" %>"/>
  <meta property="og:site_name" content="Smartvark: Local Deals. Personalized."/>
  <meta property="og:url" content="<%= request.url %>"/>
  <meta property="og:description" content="<%= content_for?(:fb_desc) ? content_for(:fb_desc) : "Artie the Aardvark tracks down deals that match your tastes. We don't spam you with junk you don't want. It's that simple. Oh, and we don't charge you for our deals. They're FREE."%>"/>
  <%= csrf_meta_tag %>
	<% if Rails.env.production? %>
		<!-- analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-12016668-2', 'auto');
			ga('send', 'pageview');
		</script>
		<!-- end analytics -->
	<% end %>
</head>
<body>
  <div data-role="page" <%= 'data-add-back-btn="true"' if %w(privacy_policy terms_of_service).include?(controller.action_name) %>>
    <%= yield %>
    <p><font size="-2">&copy; <%= Time.now.year %> Smartvark, Inc. some icons by <a href="http://glyphish.com/" target="_blank" data-ajax="false">glyphish</a></font></p>
  </div>
  <% if alert || notice %>
		<script type="text/javascript">
			$(function(){
				$("<div class='ui-loader ui-overlay-shadow ui-body-e ui-corner-all'><h1><%= raw alert || notice %><%= raw flash[:error] %></h1></div>")
					.css({ "display": "block", "opacity": 0.96, "top": $(window).scrollTop() + 100 })
					.appendTo( $.mobile.pageContainer )
					.delay( 800 )
					.fadeOut( 2500, function(){
						$(this).remove();
					})
			});
		</script>
  <% end %>
  <%= content_for?(:footer_additions) ? yield(:footer_additions) : nil -%>
</body>
</html>
