<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<% limited_page = controller.action_name == "index" || controller.controller_name == "invitations" %>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
<head>
  <title><%= content_for?(:title) ? content_for(:title) : controller.action_name.titlecase %> - Smartvark<%= " (" + Rails.env.upcase + ")" unless Rails.env.production? %></title>
  <%= stylesheet_link_tag 'web' %>
  <!--[if IE]><%= stylesheet_link_tag 'ie' %><![endif]-->
  <%= content_for?(:head_additions) ? content_for(:head_additions) : nil -%>
  <%= favicon_link_tag %>
  <%= csrf_meta_tag %>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta property="fb:page_id" content="120811371274054" />
  <meta property="og:title" content="<%= content_for?(:title) ? content_for(:title) : controller.action_name.titlecase %> - Smartvark"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="<%= content_for?(:fb_img) ? content_for(:fb_img) : root_url + "images/touch-icon.png" %>"/>
  <meta property="og:site_name" content="Smartvark: Local Deals. Personalized."/>
  <meta property="og:url" content="<%= request.url %>"/>
  <meta property="og:description" content="<%= content_for?(:fb_desc) ? content_for(:fb_desc) : "Artie the Aardvark tracks down deals that match your tastes. We don't spam you with junk you don't want. It's that simple. Oh, and we don't charge you for our deals. They're FREE."%>"/>
</head>
<body>
  <div id="wrapper">
    <div class="wrapper-holder">
      <div id="header">
        <%= raw "<h1>" + Rails.env.capitalize + " server</h1>" unless Rails.env.production? %>
				<h1 class="logo"><%= link_to "Smartvark", home_path %></h1>
				<div class="flash-holder" id="flash-<%=if notice then 'notice' else 'alert' end%>"><%= raw notice %><%= raw alert %></div>
				<%= render :partial => 'layouts/account_area', locals: { new_user: !%w(forbusiness index).include?(controller.action_name) } unless limited_page %>
      </div>
      <div id="main">
				<div class="main-holder">
					<div class="main-frame">
						<%= yield %>
					</div>
				</div>
      </div>
    </div>
  </div>
	<div id="footer">
		<%= render :partial => 'layouts/common_footer' unless limited_page %>
		<% if limited_page %>
			<p><%= link_to "Are you a business owner? Find out more about advertising with us!", biz_path %></p>
		<% end %>
		<p>&copy; <%= Time.now.year %> Smartvark, Inc.<% if %w(deals mydeals).include?(controller.action_name) %> (some icons courtesy of <a href="http://glyphish.com/">glyphish.com</a>)<% elsif controller.action_name == "dealdashboard" || controller.controller_name == "businesses" %> (some icons courtesy of <a href="http://iconza.com/">iconza.com</a>)<% end %></p>
	</div>
  <%= javascript_include_tag 'jquery', 'jquery-ui', 'jquery-plugins', 'rails' %>
	<%= content_for?(:footer_additions) ? content_for(:footer_additions) : nil -%>
	<%= javascript_include_tag 'application' %>
	<% if Rails.env.production? %>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-12016668-2']);
			_gaq.push(['_trackPageview']);
		
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
		<script src="http://static.getclicky.com/js" type="text/javascript"></script>
		<script type="text/javascript">try{ clicky.init(66371765); }catch(err){}</script>
		<noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/66371765ns.gif" /></p></noscript>
	<% end %>
</body>
</html>
