<!DOCTYPE html>
<html>
<head>
  <% if controller.action_name == "index" %>
	<title>Smartvark</title>
	<% else %>
  <title><%= content_for?(:title) ? yield(:title) : controller.action_name.titlecase %> - Smartvark</title>
	<% end %>
	<%= stylesheet_link_tag 'jquery.mobile-1.0a2.min.css' %>
	<%= stylesheet_link_tag 'mobile' %>
	<%= javascript_include_tag 'jquery', 'rails', 'jquery.mobile-1.0a2.min.js', 'misc' %>
	<%= favicon_link_tag %>
	<link rel="apple-touch-icon-precomposed" href="/images/touch-icon.png" />
	<link rel="apple-touch-startup-image" href="/images/splash.png" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<%= csrf_meta_tag %>
</head>
<body>
  <div data-role="page">
    <%= yield %>
  </div>
  <script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-12016668-2']);
		_gaq.push(['_trackPageview']);
	
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
  <script src="http://static.getclicky.com/js" type="text/javascript"></script>
	<script type="text/javascript">try{ clicky.init(66371765); }catch(err){}</script>
	<noscript><p><img alt="Clicky" width="1" height="1" src="http://in.getclicky.com/66371765ns.gif" /></p></noscript>
</body>
</html>
