<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<% limited_page = controller.action_name == "index" || controller.controller_name == "invitations" %>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
<head>
  <title><%= content_for?(:title) ? content_for(:title) : controller.action_name.titlecase %> - Smartvark<%= " (#{Rails.env.upcase})" unless Rails.env.production? %></title>
  <%= stylesheet_link_tag 'web' %>
  <!--[if IE]><%= stylesheet_link_tag 'ie' %><![endif]-->
  <%= content_for?(:head_additions) ? content_for(:head_additions) : nil -%>
  <%= favicon_link_tag "http://s3.amazonaws.com/smartvark/assets/favicon.ico" %>
  <%= csrf_meta_tag %>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta property="fb:page_id" content="120811371274054" />
  <meta property="fb:app_id" content="117812104896424" />
  <meta property="og:title" content="<%= content_for?(:title) ? content_for(:title) : controller.action_name.titlecase %> - Smartvark"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="<%= content_for?(:fb_img) ? content_for(:fb_img) : root_url + "images/touch-icon.png" %>"/>
  <meta property="og:site_name" content="Smartvark: Local Deals. Personalized."/>
  <meta property="og:url" content="<%= request.url %>"/>
  <meta property="og:description" content="<%= content_for?(:fb_desc) ? content_for(:fb_desc) : "Artie the Aardvark tracks down deals that match your tastes. We don't spam you with junk you don't want. It's that simple. Oh, and we don't charge you for our deals. They're FREE."%>"/>
  <% if Rails.env.production? %>
    <!-- analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-12016668-2', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- end analytics -->
  <% end %>
</head>
<body>
  <div id="wrapper">
    <div class="wrapper-holder">
      <div id="header">
				<h1 class="logo"><%= link_to "Smartvark", home_path %><%= raw "<p>#{Rails.env.capitalize} server</p>" unless Rails.env.production? %></h1>
				<%= render :partial => 'layouts/account_area', locals: { new_user: !%w(forbusiness index).include?(controller.action_name) } %>
      </div>
      <div id="main">
				<div class="main-holder">
					<div class="main-frame">
						<%= yield %>
					</div>
				</div>
      </div>
    <div class="video-box">
      <iframe width="853" height="480" src="//www.youtube.com/embed/efI6IMjUcII?rel=0&vq=large" frameborder="0" allowfullscreen></iframe>
    </div>
    </div>
  </div>
	<div id="footer">
		<%= render :partial => 'layouts/common_footer' %>
		<p>&copy; <%= Time.now.year %> Smartvark, Inc.<% if %w(deals mydeals).include?(controller.action_name) %> (some icons courtesy of <a href="http://glyphish.com/">glyphish.com</a>)<% elsif controller.action_name == "dealdashboard" || controller.controller_name == "businesses" %> (some icons courtesy of <a href="http://iconza.com/">iconza.com</a>)<% end %></p>
	</div>
  <%= javascript_include_tag :defaults, 'jquery-plugins' %>
	<%= content_for?(:footer_additions) ? content_for(:footer_additions) : nil -%>
	<%= javascript_include_tag 'application' %>
  <% if notice || alert %>
    <script type="text/javascript">
      $(function(){
        if ($.jnotify) {
          <% if notice %>
            $.jnotify("<%= notice %>");
          <% elsif alert %>
            $.jnotify("<%= alert %>","error");
          <% end %>
        }
      });
    </script>
  <% end %>
</body>
</html>
