<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= content_for?(:title) ? yield(:title) : controller.action_name.titlecase %> - smartvark</title>
  <%= stylesheet_link_tag 'web' %>
  <!--[if IE]><%= stylesheet_link_tag 'ie' %><![endif]-->
  <%= content_for?(:head_additions) ? yield(:head_additions) : nil -%>
  <%= favicon_link_tag %>
  <%= csrf_meta_tag %>
</head>
<body>
	<% if params[:admin] %><%= render :partial => 'layouts/menu' %><% end %>
	<div id="wrapper">
		<div class="wrapper-holder">
			<div id="header">
        <h1 class="logo"><%= link_to "Smartvark", home_path %></h1>
        <div class="flash-holder" id="flash-<%=if notice then 'notice' else 'alert' end%>"><%= raw notice %><%= raw alert %></div>
        <%= render :partial => 'layouts/account_area' %>
			</div>
			<div id="main">
				<div class="main-holder">
          <div class="main-frame">
  				  <%= yield %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<%= render :partial => 'layouts/common_footer' %>
	<%= javascript_include_tag :defaults, 'jquery-plugins' %>
</body>
</html>
